.THIS.show {
    display: block;
}

/*FOR ASTERISKS IN INPUT TEXT, TEXTAREA , SELECT , SINGLE RADIO BUTTON*/
.THIS .required-asterisk:before { 
    content:"*";
    color: rgb(194, 57, 52);
    margin: 0 .125rem;
}

/*ERROR BORDER FOR UI text COMPONENT*/
.THIS .uiInput--input .slds-has-error, .THIS .uiInput--input.slds-has-error{
  border: 2px solid rgb(194, 57, 52);  
}