.svmx-column-header-inner .svmx-column-header-text {
	white-space: normal !important;
} 
.svmx-column-header-inner {
	line-height: normal;
}

.svmx-checkcolumn-header-text {
    font-family: 'Open Sans','Avenir',helvetica, arial, verdana, sans-serif !important;
    font-size: 14px !important;
    color: #333333 !important;
}

.svmx-noncheckcolumn-header-text {
    font-family: 'Open Sans','Avenir',helvetica, arial, verdana, sans-serif !important;
    font-size: 16px !important;
    color: #333333 !important;
    font-weight: bold !important;
}

.svmx-apft-dropdown {
	font-family: 'Open Sans','Avenir',helvetica, arial, verdana, sans-serif !important;
    font-size: 13px !important;
    color: #333333 !important;
    font-weight: bold !important;
}

.svmx-secondPanel-border {
	border-left-style: none;
}

.svmx-border-box .svmx-field-default-toolbar .svmx-form-text {
    height: 30px !important;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    //border-right: 0px;
    font-size: 14px !important;
    color: #333333 !important;
    font-family: 'Open Sans','Avenir',helvetica, arial, verdana, sans-serif !important;
}

.svmx-boundlist-item-over {
    background: #CCCCCC !important;
    font-size: 14px !important;
    color: #333333 !important;
}

.svmx-boundlist {
    font-size: 14px !important;
    border: 1px solid #CCCCCC !important;
}

.svmx-column-header-sort-DESC .svmx-column-header-text {
    background-image: url('../../resources/images/Descending_Arrow.png') !important;
    padding-right: 20px !important;
    background-repeat: no-repeat !important;
    background-position: right top !important;
}

.svmx-column-header-sort-ASC .svmx-column-header-text {
    background-image: url('../../resources/images/Ascending_Arrow.png') !important;
    padding-right: 20px !important;
    background-repeat: no-repeat !important;
    background-position: right top !important;
}

.svmx-toolbar{
    padding: 4px 0px 3px 0px !important;
}

.svmx-form-item-body {
    position: relative;
    line-height: 21px;
}

.svmx-toolbar-default{
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
}

.svmx-panel-header-horizontal{
    padding: 8px 5px !important;
}

.svmx-panel-body-default{
    border-top: none !important;
}

.svmx-panel-header-default .svmx-panel-header-text-default{
    margin-right: 150px;
}

.svmx-appfilter-help-icon {
   display:block !important;
   width:24px !important;
   height:24px !important;
   background:url(../images/Help.png) no-repeat;
   left : -4px !important;
   top: -4px !important;
}
.spm-opt-config-start-date input[type="text"]{
	padding : 14px !important;
}
.spm-opt-config-end-date input[type="text"]{
	padding : 14px !important;
}
.spm-opt-dispatch-process input[type="text"]{
	padding : 14px !important;
}
.spm-opt-dispatch-process .svmx-form-trigger {

}
.opt-root-container .spm-opt-button:hover {
	background-color: #fff !important;
}
.opt-root-container .svmx-tab-bar-body {
	border: 0px !important;
	border-color: #c11d1d;
}
.svmx-spm-help-icon {
    display: block !important;
    width: 24px !important;
    height: 24px !important;
    background: url(../images/Help.png) no-repeat;
    left: -24px !important;
    top: 1px;
}
.opt-right-container{
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.apft-root-container div .svmx-column-header{
    background-color: #939292 !important;
    color: #fff !important; 
}
.apft-root-container div .svmx-column-header-over {
    background-color: #939292 !important;
}
.apft-root-container .svmx-column-header-checkbox .svmx-column-header-text {
    height: 14px;
    width: 14px;
    line-height: 0;
}
.apft-root-container div .svmx-grid-hd-checker-on .svmx-column-header-text {
	background-image: url(https://svmxdev.na43.visual.force.com/resource/1477877753000/svmxdev__com_servicemax_client_ui_desktop_themes_orange/com.servicemax.client.ui.desktop.themes.orange/resources/themes/images/svmx-orange/grid/checked.gif);
}
.opt-container-box {
	border-top: 1px solid #dcdcdc;
}
.apft-root-container .svmx-tab-icon {
    background-position: 0 0px !important;
}
.opt-root-container div .svmx-btn-disabled {
    background-color: #fff !important;
}
.opt-root-container .spm-opt-config-start-date .svmx-form-date-trigger, .opt-root-container .spm-opt-config-end-date .svmx-form-date-trigger  {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.text-strong {
	font-weight: bold;
}