/* header for sections*/
.THIS .sub-header-text{
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
    color: t(SecondaryHeaderColor);
}

.THIS .sub-section-divider{
      margin:0.5rem 0;
      border-top: 2px solid t(SecondaryHeaderColor);
}

.THIS .slds-m-top_btn{
  margin-top:1.2rem;  
}

.THIS .search-input > div.slds-form-element > div.slds-form-element__control >input{
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    
}

.THIS .search-btn {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}