.messagebox {
    border-color: #9bebb3;
    background-color: #edfff1;
}
.messageText {
    color: #464646;
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    transition: opacity .2s ease-out;
}