@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Thin.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Thin.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-ThinItalic.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-ThinItalic.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Light.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Light.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-LightItalic.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-LightItalic.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Regular.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Regular.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Italic.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Italic.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Bold.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Bold.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-BoldItalic.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-BoldItalic.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: italic;
  font-weight: 700;
}

body {
  font-family: "Salesforce Sans", Arial, sans-serif;
}

body .svmx-feature-permission-root {
  font-family: "Salesforce Sans", Arial, sans-serif;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

body .svmx-feature-permission-root .svmx-panel-header {
  background: #506b91;
  border: none;
  padding: 15px 10px;
}

body .svmx-feature-permission-root .svmx-panel-header .title-text {
  font-size: 16px;
  font-weight: 400;
}

body .svmx-feature-permission-root .svmx-toolbar-default {
  background-color: #fff;
  border-color: #fff;
  background-image: none;
}

body .svmx-feature-permission-root .svmx-panel-body-default-framed {
  background-color: #fff;
  border-color: #fff;
}

body .svmx-feature-permission-root .svmx-text-filter-icon {
  background: #fff;
}

body .svmx-feature-permission-root .svmx-text-filter-icon .svmx-form-item-body {
  border: 1px solid #cfd7e6;
}

body .svmx-feature-permission-root .svmx-text-filter-icon .svmx-form-item-body:before {
  content: url(../images/search.png);
  opacity: 0.3;
  position: absolute;
  right: 5px;
  top: 5px;
}

body .svmx-feature-permission-root .svmx-text-filter-icon .svmx-form-item-body .svmx-form-text {
  background: none !important;
  padding: 0 25px 0 10px !important;
  font-family: "Salesforce Sans", Arial, sans-serif;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body .svmx-feature-permission-root .svmx-field-default-toolbar .svmx-form-text, body .svmx-feature-permission-root .svmx-form-trigger-wrap .svmx-form-text {
  padding: 8px 5px;
  height: 30px;
  border: none;
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

body .svmx-feature-permission-root .svmx-field-default-toolbar .svmx-form-trigger, body .svmx-feature-permission-root .svmx-form-trigger-wrap .svmx-form-trigger {
  background-color: #ffffff;
  background-image: url(../images/down-arrow.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  height: 30px;
  border: none;
  cursor: hand;
}

body .svmx-feature-permission-root .svmx-form-item-body .svmx-form-trigger-wrap {
  border: 1px solid #cfd7e6;
}

body .svmx-feature-permission-root .svmx-form-item-label-left {
  padding: 8px 0;
  font-family: "Salesforce Sans", Arial, sans-serif !important;
  font-size: 12px;
  font-weight: 400;
  color: #6b6b6b;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid {
  border-color: #cfd7e6;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-grid-header-ct {
  border-color: #cfd7e6;
  background: #fff;
  border-bottom-width: 1px !important;
  border-left: none;
  border-right: none;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-column-header {
  font-family: "Salesforce Sans", Arial, sans-serif;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-column-header, body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-column-header-over {
  border-right-width: 0 !important;
  background-image: none;
  background-color: #eef1f6;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-column-header .svmx-column-header-inner {
  text-align: center;
  padding: 12px 5px !important;
  font-size: 12px;
  font-weight: 700;
  color: #333;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-column-header .svmx-column-header-inner .svmx-column-header-trigger {
  background-color: #eef1f6;
  background-image: url(../images/down-arrow.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-grid-body {
  border: none;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid tr td.svmx-grid-cell {
  border-bottom: 1px solid #cfd7e6;
  border-right-width: 0;
  background: #fff;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid tr td.svmx-grid-cell:last-child {
  border-right-width: 0;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-grid-row-over .svmx-grid-cell {
  background: #f2f2f2;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-grid-cell-inner {
  padding: 5px 6px;
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 12px;
  color: #333;
}

body .svmx-feature-permission-root .svmx-panel-default.svmx-grid .svmx-grid-cell-selected {
  background: #f2f2f2 !important;
}

body .svmx-feature-permission-root .svmx-feature-permission-main-nav {
  background: #506b91;
  padding: 10px;
  margin-bottom: 15px;
}

body .svmx-feature-permission-root .svmx-feature-permission-main-nav label.svmx-toolbar-item {
  font-family: "Salesforce Sans", Arial, sans-serif;
  width: 100%;
  left: 0 !important;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

body .svmx-feature-permission-root .svmx-feature-permission-main-nav > div > div {
  max-width: 100% !important;
}

body .svmx-feature-permission-root .svmx-feature-permission-back-btn {
  background: none;
  border: none;
  z-index: 1;
  width: auto;
}

body .svmx-feature-permission-root .svmx-feature-permission-back-btn:before {
  content: url(../images/chevronleft.png);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
}

body .svmx-feature-permission-root .svmx-feature-permission-back-btn .svmx-btn-inner {
  color: white;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 300;
  font-family: "Salesforce Sans", Arial, sans-serif;
}

body .svmx-feature-permission-root .svmx-feature-permission-help-btn {
  left: auto !important;
  right: 0;
  border-radius: 50%;
  background: #fff;
  border: none;
  width: 24px;
  height: 24px;
}

body .svmx-feature-permission-root .svmx-feature-permission-help-btn:before {
  content: url(../images/help.png);
  position: absolute;
  left: 4px;
  top: 4px;
}

body .svmx-feature-permission-root .svmx-box-inner > div {
  max-width: 100%;
}

body .svmx-feature-permission-root .svmx-feature-permission-pagingtoolbar {
  left: calc(50% - 135px) !important;
}

body .svmx-feature-permission-root .svmx-feature-permission-pagingtoolbar .svmx-toolbar-separator {
  visibility: hidden;
}

body .svmx-feature-permission-root .svmx-feature-permission-pagingtoolbar .svmx-btn {
  background: transparent;
  border: none;
  width: auto;
}

body .svmx-feature-permission-root .svmx-feature-permission-pagingtoolbar .svmx-btn .svmx-tbar-page-first {
  background-image: url(../images/page-first.png) !important;
}

body .svmx-feature-permission-root .svmx-feature-permission-pagingtoolbar .svmx-btn .svmx-tbar-page-prev {
  background-image: url(../images/page-prev.png) !important;
}

body .svmx-feature-permission-root .svmx-feature-permission-pagingtoolbar .svmx-btn .svmx-tbar-page-next {
  background-image: url(../images/page-next.png) !important;
}

body .svmx-feature-permission-root .svmx-feature-permission-pagingtoolbar .svmx-btn .svmx-tbar-page-last {
  background-image: url(../images/page-last.png) !important;
}

body .svmx-feature-permission-root .svmx-toolbar-text {
  font-family: "Salesforce Sans", Arial, sans-serif;
  color: #333;
}

body .svmx-boundlist {
  background: #fff;
  border-color: #cfd7e6;
  font-family: "Salesforce Sans", Arial, sans-serif;
}

body .svmx-boundlist .svmx-boundlist-item {
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

body .svmx-boundlist .svmx-boundlist-item-over, body .svmx-boundlist .svmx-boundlist-selected {
  background: #f2f2f2;
  border: none;
}

body .svmx-form-radio {
  background-image: url(../images/radio.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

body .svmx-form-radio + label.svmx-form-cb-label {
  line-height: 16px;
  vertical-align: top;
  font-family: "Salesforce Sans", Arial, sans-serif;
  font-size: 12px;
  color: #6b6b6b;
}

body .svmx-form-cb-checked .svmx-form-radio, body .svmx-form-cb-checked .svmx-form-radio.svmx-form-cb-focus {
  background-image: url(../images/radio-checked.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

body .svmx-grid-checkheader {
  background: #fff url(../images/checkbox.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  margin: 2px;
}

body .svmx-grid-checkheader-checked {
  background: #fff url(../images/checkbox-checked.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

body .svmx-form-checkboxgroup-body {
  padding: 0;
}

.svmx-btn {
  background: #0070d2;
  padding: 6px !important;
  border-color: #0070d2;
  border-radius: 0;
  width: 100px;
}

.svmx-btn .svmx-btn-inner {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-family: "Salesforce Sans", Arial, sans-serif;
}

.svmx-btn.fp-btn-neutral {
  background: #fff;
  border-color: #0070d2;
}

.svmx-btn.fp-btn-neutral .svmx-btn-inner {
  color: #0070d2;
}

.svmx-btn.svmx-btn-disabled {
  background-color: #eef1f6;
  border-color: #eef1f6;
}

.svmx-btn.svmx-btn-disabled .svmx-btn-inner {
  color: #a1a1a1;
  font-family: "Salesforce Sans", Arial, sans-serif;
}

.spinner:before {
  content: "";
  background: url(../images/slds_spinner_brand.gif);
  position: absolute;
  height: 60px;
  width: 60px;
  background-size: 60px;
  left: -30px;
}

.spinner > div {
  display: none;
}

.svmx-message-box {
  background-color: white;
  border-color: #cfd7e6;
  border-radius: 0;
  box-shadow: none;
  padding: 15px;
}

.svmx-message-box .svmx-window-header {
  border-radius: 0;
  background: #eef1f6;
  box-shadow: none;
}

.svmx-message-box .svmx-window-header-text-container {
  text-align: center !important;
  padding: 8px 15px 12px 15px;
}

.svmx-message-box .svmx-window-header-text-container .svmx-window-header-text-default {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

.svmx-message-box .svmx-window-body {
  background: #fff !important;
}

.svmx-message-box .svmx-tool.svmx-box-item {
  padding: 0;
}

.svmx-message-box .svmx-tool-close {
  background-image: url(../images/cross.png);
  background-size: 16px;
  height: 16px;
  width: 16px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.grid-header-checkbox {
  pointer-events: none;
  position: relative;
  margin-right: 10px;
}

.grid-header-checkbox:before {
  width: 16px;
  height: 16px;
  content: '';
  background: #fff url(../images/checkbox.png);
  background-repeat: no-repeat;
  background-size: 16px;
  position: absolute;
  top: -2px;
}

.grid-header-checkbox:checked:before {
  background: #fff url(../images/checkbox-checked.png);
  background-repeat: no-repeat;
  background-size: 16px;
  position: absolute;
}

.grid-header-checkbox:disabled {
  opacity: .3;
}

.svmx-grid-empty {
  display: table;
  width: 100%;
  height: 100%;
}

.svmx-grid-empty > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}

.fp-confirmation-window .svmx-btn:nth-child(2) {
  background: #fff;
}

.fp-confirmation-window .svmx-btn:nth-child(2) .svmx-btn-inner {
  color: #0070d2;
}

.svmx-nlg .svmx-btn-default-small {
  background-image: none;
}

.svmx-nlg .svmx-btn-default-toolbar-small {
  background-image: none;
}