@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Light.ttf?orgId=00D1N000002Dojm");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-LightItalic.ttf?orgId=00D1N000002Dojm");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Regular.ttf?orgId=00D1N000002Dojm");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Italic.ttf?orgId=00D1N000002Dojm");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Bold.ttf?orgId=00D1N000002Dojm");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-BoldItalic.ttf?orgId=00D1N000002Dojm");
  font-style: italic;
  font-weight: 700;
}

.svmx-tree-ib-icon {
  background: url(../images/package.png) no-repeat !important;
}

.svmx-tree-loc-icon {
  background: url(../images/location.png) no-repeat !important;
}

.svmx-tree-icon {
  padding: 13px;
}

.svmx-piq-loading-node {
  background: url(../images/paging.gif) no-repeat;
  background-position: center;
}

.svmx-tree-load-more {
  background: url("") no-repeat;
}

.svmx-tree-loadingview {
  height: 30px !important;
  text-align: center;
}

.svmx-tree-loadingview > .svmx-panel-body {
  color: #0070d2;
}

.svmx-mask {
  opacity: 0.0 !important;
}

.svmx-ibtree-root-container {
  border: none;
}

.svmx-ibtree-root-container * {
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
}

.svmx-ibtree-root-container > .svmx-border-layout-ct {
  overflow: hidden !important;
}

.svmx-ibtree-root-container .svmx-ibtree-invalid {
  font-size: 14px;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  line-height: 18px;
  font-weight: 400;
  color: #4a4a4a;
  display: block;
}

.svmx-ibtree-root-container .svmx-panel-body-default {
  border: none;
}

.svmx-ibtree-root-container .svmx-ibtree-top-toolbar {
  border: none;
  background: #f7f9fb;
  padding: 15px 25px 48px;
  border-bottom: 1px solid #d8dde6;
}

.svmx-ibtree-root-container .svmx-ibtree-top-toolbar .svmx-panel-body-default {
  background: #f7f9fb;
}

.svmx-ibtree-root-container .svmx-ibtree-top-toolbar label.svmx-box-item {
  color: #14315d;
  font-family: "Salesforce Sans";
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.svmx-ibtree-root-container .svmx-ibtree-top-toolbar label.svmx-box-item > a {
  height: 17px;
  color: #0070d2;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.svmx-ibtree-root-container .svmx-ibtree-top-toolbar label.svmx-box-item:last-child {
  height: 26px;
  line-height: 26px;
}

.svmx-ibtree-root-container .svmx-ibtree-top-toolbar .svmx-ibtree-btn {
  padding: 3px 15px;
  height: 32px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #d8dde6 !important;
}

.svmx-ibtree-root-container .svmx-ibtree-top-toolbar .svmx-ibtree-btn .svmx-btn-inner {
  height: 15px;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  color: #0070d2;
  font-weight: 400;
}

.svmx-ibtree-root-container .svmx-ibtree-grid-container > .svmx-panel-body {
  padding: 25px 20px 15px;
  overflow: auto;
}

.svmx-ibtree-root-container .svmx-ibtree-grid-container:after {
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  position: absolute;
  left: 15px;
  bottom: 0;
  border-top: 1px solid #979797;
}

.svmx-ibtree-root-container .svmx-ibtree-grid {
  height: 100% !important;
  overflow: auto;
}

.svmx-ibtree-root-container .svmx-ibtree-grid > .svmx-grid-body {
  height: calc(100% - 34px) !important;
  overflow: auto;
}

.svmx-ibtree-root-container .svmx-ibtree-grid > .svmx-grid-body > .svmx-grid-view-default {
  height: 100% !important;
  overflow: auto;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-header-ct {
  border: none;
  background: #fff;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-header-ct .svmx-column-header {
  background: #fff;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #d7d7d7;
  border-width: 1px 0 1px 0 !important;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-header-ct .svmx-column-header .svmx-column-header-inner {
  padding-top: 10px !important;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-header-ct .svmx-column-header .svmx-column-header-inner .svmx-column-header-text {
  text-transform: uppercase;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #586d92;
  font-weight: 400;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-header-ct .svmx-column-header.svmx-column-header-first .svmx-column-header-text:before {
  content: "";
  background: url(../images/line-down.png);
  background-position: center;
  height: 20px;
  width: 20px;
  border: 1px solid #d8dde6;
  border-radius: 3px;
  background-color: #fff;
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin: 0 10px -7px 20px;
  top: -5px;
  position: relative;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-header-ct .svmx-column-header-over {
  background: #fff;
}

.svmx-ibtree-root-container .svmx-ibtree-grid > .svmx-grid-body {
  border: none;
  background: #fff;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-row-over .svmx-grid-cell, .svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-row-over .svmx-grid-rowwrap-div {
  background-color: #f3f3f3 !important;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-row-selected .svmx-grid-cell {
  background-color: #e6e6e6 !important;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-row .svmx-grid-cell {
  border-bottom: 1px solid #d7d7d7;
  border-right-width: 0;
  border-right: none !important;
  min-height: 40px !important;
  padding: 5px;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-row .svmx-grid-cell.svmx-grid-cell-first {
  border-right: 1px solid #d7d7d7 !important;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-row .svmx-grid-cell .svmx-grid-cell-inner {
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #4a4a4a;
  line-height: 23px;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-row .svmx-grid-cell .svmx-grid-cell-inner a {
  text-decoration: none;
  color: #0070d2;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-tree-elbow, .svmx-ibtree-root-container .svmx-ibtree-grid .svmx-tree-elbow-end {
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 12px 0 20px;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-tree-node-expanded .svmx-tree-elbow-end-plus, .svmx-ibtree-root-container .svmx-ibtree-grid .svmx-grid-tree-node-expanded .svmx-tree-elbow-plus {
  background: url("../images/line-down.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 12px 0 20px;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-tree-elbow-end-plus, .svmx-ibtree-root-container .svmx-ibtree-grid .svmx-tree-elbow-plus {
  background: url("../images/line-rt.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 12px 0 20px;
  margin: 3px 12px 0 20px;
}

.svmx-ibtree-root-container .svmx-ibtree-grid .svmx-tree-elbow-line {
  visibility: hidden;
}

.svmx-ibtree-configure-columns {
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 0;
  border-width: 0;
  border: none;
  padding: 0;
}

.svmx-ibtree-configure-columns * {
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
}

.svmx-ibtree-configure-columns .svmx-toolbar-docked-top {
  background: #fff;
  border-bottom: 1px solid #979797 !important;
}

.svmx-ibtree-configure-columns .svmx-toolbar-docked-top .svmx-toolbar-item {
  color: #000;
  font-family: "Avenir", "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 80px;
  padding-left: 15px;
}

.svmx-ibtree-configure-columns .svmx-ibtree-btn-right {
  border: none;
  border-width: 0 !important;
}

.svmx-ibtree-configure-columns .svmx-ibtree-btn-right .svmx-btn-inner {
  background: url("../images/arrow-rt.png") no-repeat;
  background-position: center;
}

.svmx-ibtree-configure-columns .svmx-ibtree-btn-left {
  border: none;
  border-width: 0 !important;
}

.svmx-ibtree-configure-columns .svmx-ibtree-btn-left .svmx-btn-inner {
  background: url("../images/arrow-lt.png") no-repeat;
  background-position: center;
}

.svmx-ibtree-configure-columns .svmx-ibtree-btn-up {
  border: none;
  border-width: 0 !important;
}

.svmx-ibtree-configure-columns .svmx-ibtree-btn-up .svmx-btn-inner {
  background: url("../images/arrow-up.png") no-repeat;
  background-position: center;
}

.svmx-ibtree-configure-columns .svmx-ibtree-btn-down {
  border: none;
  border-width: 0 !important;
}

.svmx-ibtree-configure-columns .svmx-ibtree-btn-down .svmx-btn-inner {
  background: url("../images/arrow-dn.png") no-repeat;
  background-position: center;
}

.svmx-ibtree-configure-columns .svmx-grid-row .svmx-grid-cell {
  border-bottom: 1px solid #d7d7d7;
}

.svmx-ibtree-configure-columns .svmx-ib-tree-field-container .svmx-box-item {
  height: 22px;
  color: #4a4a4a;
  font-family: "Avenir", "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.svmx-ibtree-configure-columns .svmx-ib-tree-field-container .svmx-grid-body {
  border: 1px solid #979797 !important;
  background-color: #fff;
  border-top-color: #979797 !important;
}

.svmx-ibtree-configure-columns .svmx-ib-tree-field-container .svmx-grid-body .svmx-grid-cell-inner {
  color: #4a4a4a;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.svmx-ibtree-configure-columns .svmx-ib-tree-field-container .svmx-grid-row-over .svmx-grid-cell, .svmx-ibtree-configure-columns .svmx-ib-tree-field-container .svmx-grid-row-over .svmx-grid-rowwrap-div {
  background-color: #f3f3f3 !important;
}

.svmx-ibtree-configure-columns .svmx-ib-tree-field-container .svmx-grid-row-selected .svmx-grid-cell {
  background-color: #e6e6e6 !important;
}

.svmx-ibtree-configure-columns .svmx-toolbar-docked-bottom {
  background: #fff;
  border-top: 1px solid #979797 !important;
}

.svmx-ibtree-configure-columns .svmx-toolbar-docked-bottom .svmx-toolbar-item {
  border: none;
  background: #fff;
}

.svmx-ibtree-configure-columns .svmx-toolbar-docked-bottom .svmx-toolbar-item .svmx-ibtree-btn-cancel {
  padding: 3px 15px;
  height: 36px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #d8dde6 !important;
}

.svmx-ibtree-configure-columns .svmx-toolbar-docked-bottom .svmx-toolbar-item .svmx-ibtree-btn-cancel .svmx-btn-inner {
  height: 18px;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #0070d2;
  font-weight: 400;
}

.svmx-ibtree-configure-columns .svmx-toolbar-docked-bottom .svmx-toolbar-item .svmx-ibtree-btn-apply {
  padding: 3px 15px;
  height: 36px;
  border-radius: 3px;
  background-color: #0070d2;
  border: 1px solid #0070d2 !important;
}

.svmx-ibtree-configure-columns .svmx-toolbar-docked-bottom .svmx-toolbar-item .svmx-ibtree-btn-apply .svmx-btn-inner {
  height: 18px;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.svmx-ibtree-error-msg {
  color: #c00;
  font-size: 14px;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
}

.svmx-message-box {
  border-radius: 0;
  background: #fff;
  border-color: #eaeaea;
  border-width: 1px;
}

.svmx-message-box .svmx-window-header-default-top {
  border-radius: 0;
  background-color: #fff !important;
  border-bottom: 1px solid #979797 !important;
  padding: 10px;
}

.svmx-message-box .svmx-window-header-default-top .svmx-window-header-text-default {
  line-height: 18px;
  color: #000;
  font-family: "Avenir", "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.svmx-message-box .svmx-window-header-default-top .svmx-tool img {
  display: none;
}

.svmx-message-box .svmx-form-display-field {
  color: #4a4a4a;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.svmx-message-box .svmx-toolbar-footer {
  background-color: #fff !important;
  padding-bottom: 10px;
}

.svmx-message-box .svmx-toolbar-footer .svmx-btn-default-small {
  padding: 3px 15px;
  height: 32px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #d8dde6 !important;
}

.svmx-message-box .svmx-toolbar-footer .svmx-btn-default-small .svmx-btn-inner {
  height: 15px;
  font-family: "Salesforce Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  color: #0070d2;
  font-weight: 400;
}