@mixin svmx-sf-font($font-name: Regular, $font-style: null, $font-weight: null) {
  @font-face {
    font-family: 'Salesforce Sans';
    src: url('../fonts/SalesforceSans-#{$font-name}.ttf');
    font-style: $font-style;
    font-weight: $font-weight;
  }
}

@include svmx-sf-font(Light, normal, 300);
@include svmx-sf-font(LightItalic, italic, 300);
@include svmx-sf-font(Regular, normal, 400);
@include svmx-sf-font(Italic, italic, 400);
@include svmx-sf-font(Bold, normal, 700);
@include svmx-sf-font(BoldItalic, italic, 700);

$cerulean: #0070d2;
$dark-slate-blue: #14315d;
$black: #000000;
$greyish-brown: #4a4a4a;
$greyish-blue: #586D92;
$border-dark: #979797;
$border-lite: #d7d7d7;
$lite-grey: #F7F9FB;
$white: #ffffff;
$btn-border: #D8DDE6;
$highlight: #E6E6E6;
$grey: #666666;
$error-col: #CC0000;
$default-font: 'Salesforce Sans', Helvetica, Arial, sans-serif;
$secondary-font: 'Avenir', 'Salesforce Sans', Helvetica, Arial, sans-serif;

@mixin svmx-ibtree-btn($btn-height, $bg-color, $btn-border-col, $inner-height, $btn-font-size, $btn-color) {
	padding: 3px 15px;
	height: $btn-height;
	border-radius: 3px;
	background-color: $bg-color;
	border: 1px solid  $btn-border-col !important;
	.svmx-btn-inner {
		height: $inner-height;
		font-family: $default-font;
		font-size: $btn-font-size;
		text-align: center;
		color: $btn-color;
		font-weight: 400;
	}
}

@mixin svmx-ellipsis($svmx-max-width) {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $svmx-max-width;
  overflow: hidden;
}

.svmx-tree-ib-icon {
	background:url(../images/package.png) no-repeat !important;	
}
.svmx-tree-loc-icon {
	background:url(../images/location.png) no-repeat !important;	
}
.svmx-tree-icon {
	padding: 13px;
}
.svmx-piq-loading-node {
	background: url(../images/paging.gif) no-repeat;
	background-position: center;
}
.svmx-tree-load-more {
	background: url('') no-repeat;
}
.svmx-tree-loadingview {
	height: 30px !important;
	text-align: center;
	& > .svmx-panel-body {
		color: $cerulean;
	}
}
.svmx-mask {
	opacity: 0.0 !important;
}
.svmx-ibtree-root-container {
	border: none;
	* {
		font-family: $default-font;
	}
	& > .svmx-border-layout-ct {
		overflow: hidden !important;
	}
	.svmx-ibtree-invalid {
		font-size: 14px;
		font-family: $default-font;
		line-height: 18px;
		font-weight: 400;
		color: $greyish-brown;
		display: block;
	}
	.svmx-panel-body-default {
		border: none;
	}
	.svmx-ibtree-top-toolbar {
		border: none;
		background: $lite-grey;
		padding: 15px 25px 48px;
		border-bottom: 1px solid $btn-border;
		.svmx-panel-body-default {
			background: $lite-grey;
		}
		label.svmx-box-item {
			color: $dark-slate-blue;	
			font-family: "Salesforce Sans";	
			font-size: 20px;	
			font-weight: 400;
			@include svmx-ellipsis(100%);
			& > a {
				height: 17px;
				color: $cerulean;
				font-family: $default-font;
				font-size: 13px;
				font-weight: bold;
				line-height: 17px;
				text-transform: uppercase;
				font-weight: 700;
				text-decoration: none;
			}
			&:last-child {
				height: 26px;
				line-height: 26px;
			}
		}
		.svmx-ibtree-btn {
			@include svmx-ibtree-btn(32px, $white, $btn-border, 15px, 12px, $cerulean);
		}
	}
	.svmx-ibtree-grid-container {
		& > .svmx-panel-body {
			padding: 25px 20px 15px;
			overflow: auto;
		}
		&:after {
			content:"";
			height: 1px;
			width: calc(100% - 30px);
			position: absolute;
			left: 15px;
			bottom: 0;
			border-top: 1px solid $border-dark;
		}

	}
	.svmx-ibtree-grid {
		height: 100% !important;
		overflow: auto;
		& > .svmx-grid-body {
			height: calc(100% - 34px) !important;
			overflow: auto;	
			& > .svmx-grid-view-default {
				height: 100% !important;
				overflow: auto;				
			}		
		}
		.svmx-grid-header-ct {
			border: none;
			background: $white;
			.svmx-column-header {
				background: $white;
				border-top: 1px solid $border-dark;
				border-bottom: 1px solid $border-lite;
				border-width: 1px 0 1px 0 !important;
				.svmx-column-header-inner {
					padding-top: 10px !important;
					.svmx-column-header-text {
						text-transform: uppercase;
						font-family: $default-font;
						font-size: 13px;
						letter-spacing: 0.4px;
						color: $greyish-blue;	
						font-weight: 400;
					}			
				}

				&.svmx-column-header-first {
					.svmx-column-header-text{
						&:before {
							content: "";
							background: url(../images/line-down.png);
							background-position: center;
							height: 20px;	
							width: 20px;	
							border: 1px solid $btn-border;	
							border-radius: 3px;	
							background-color: $white;
							background-repeat: no-repeat;
							display: block;
							float: left;
							margin: 0 10px -7px 20px;
							top: -5px;
							position: relative;
    						}
					}
				}
			}
			.svmx-column-header-over {
				background: $white;
			}
		}

		& > .svmx-grid-body {
			border: none;
			background: $white;
		}
		.svmx-grid-row-over{
			.svmx-grid-cell, .svmx-grid-rowwrap-div {
				background-color: lighten($highlight, 5%) !important;
			}
		} 
		.svmx-grid-row-selected .svmx-grid-cell {
			background-color: $highlight !important;
		}
		.svmx-grid-row {
			.svmx-grid-cell {
				border-bottom: 1px solid $border-lite;
				border-right-width: 0;
				border-right: none !important;
				min-height: 40px !important;
				padding: 5px;
				&.svmx-grid-cell-first {
					border-right: 1px solid $border-lite !important;
				}

				.svmx-grid-cell-inner  {
					font-family: $default-font;
					font-size: 13px;
					font-weight: 400;
					letter-spacing: 0.4px;
					color: $greyish-brown;
					line-height: 23px;
					a {
						text-decoration: none;
						color: $cerulean;
					}
				}
			}
		}
		@mixin tree-elbow($path) {
			background: $path;
			background-repeat: no-repeat;
			background-position: center;
			margin: 0 12px 0 20px;			
		}
		.svmx-tree-elbow, .svmx-tree-elbow-end {
			@include tree-elbow(none);
		} 
		.svmx-grid-tree-node-expanded .svmx-tree-elbow-end-plus, 
		.svmx-grid-tree-node-expanded .svmx-tree-elbow-plus {
			@include tree-elbow(url('../images/line-down.png'));
		}
		.svmx-tree-elbow-end-plus, .svmx-tree-elbow-plus {
			@include tree-elbow(url('../images/line-rt.png'));
			margin: 3px 12px 0 20px;			
		}
		.svmx-tree-elbow-line {
			visibility: hidden;
		}
	}
}


.svmx-ibtree-configure-columns {
	* {
		font-family: $default-font;
	}
	font-family: $default-font;
	background: $white;
	border-radius: 0;
	border-width: 0;
	border: none;
	padding: 0;
	.svmx-toolbar-docked-top {
		background: $white;
		border-bottom: 1px solid $border-dark !important;
		.svmx-toolbar-item {
			color: $black;
			font-family: $secondary-font;
			font-size: 24px;
			font-weight: 300;
			line-height: 80px;
			padding-left: 15px;
		}
	}
	@mixin arrow-btn($arrow-path) {
		border: none;
		border-width: 0 !important;
		.svmx-btn-inner {
			background: url($arrow-path) no-repeat;
			background-position: center;
		}		
	}
	.svmx-ibtree-btn-right {
		@include arrow-btn('../images/arrow-rt.png');
	}
	.svmx-ibtree-btn-left {
		@include arrow-btn('../images/arrow-lt.png');
	}
	.svmx-ibtree-btn-up {
		@include arrow-btn('../images/arrow-up.png');
	}
	.svmx-ibtree-btn-down {
		@include arrow-btn('../images/arrow-dn.png');
	}
	.svmx-grid-row {
		.svmx-grid-cell {
			border-bottom: 1px solid $border-lite;
		}
	} 
	.svmx-ib-tree-field-container {
		.svmx-box-item {
			height: 22px;
			color: $greyish-brown;
			font-family: $secondary-font;
			font-size: 16px;	
			font-weight: 500;	
			line-height: 22px;
		}
		.svmx-grid-body {
			border: 1px solid $border-dark !important;
			background-color: $white;
			border-top-color: $border-dark !important;
			.svmx-grid-cell-inner  {
				color: $greyish-brown;	
				font-family: $default-font;	
				font-size: 14px;	
				line-height: 21px;	
				font-weight: 400;			
			}
		}
		.svmx-grid-row-over{
			.svmx-grid-cell, .svmx-grid-rowwrap-div {
				background-color: lighten($highlight, 5%) !important;
			}
		} 

		.svmx-grid-row-selected .svmx-grid-cell {
		    background-color: #E6E6E6 !important;
		}
	}
	.svmx-toolbar-docked-bottom {
		background: $white;
		border-top: 1px solid $border-dark !important;	
		.svmx-toolbar-item {
			border: none;
			background: $white;
			.svmx-ibtree-btn-cancel {
				@include svmx-ibtree-btn(36px, $white, $btn-border, 18px, 14px, $cerulean);
			}
			.svmx-ibtree-btn-apply {
				@include svmx-ibtree-btn(36px, $cerulean, $cerulean, 18px, 14px, $white);				
			}
		}	
	}
}

.svmx-ibtree-error-msg {
	color: $error-col;
	font-size: 14px;
	font-family: $default-font;
}
.svmx-message-box {
	border-radius: 0;
	background: $white;
	border-color:#eaeaea;
	border-width: 1px;
	.svmx-window-header-default-top {
		border-radius: 0;
		background-color: $white !important;
		border-bottom: 1px solid $border-dark !important;
		padding: 10px;
		.svmx-window-header-text-default {
			line-height: 18px;			
			color: $black;
			font-family: $secondary-font;
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
		}
		.svmx-tool img {
			display: none;
		}
	}
	.svmx-form-display-field {
		color: $greyish-brown;	
		font-family: $default-font;	
		font-size: 14px;	
		line-height: 21px;	
		font-weight: 400;		
	}
	.svmx-toolbar-footer {
		background-color: $white !important;
		padding-bottom: 10px;
		.svmx-btn-default-small {
			@include svmx-ibtree-btn(32px, $white, $btn-border, 15px, 12px, $cerulean);
		}	
	}
}
