body{background-color:#f1f1f1;height:480px}
.content{width: 91.98%;min-height:480px;margin-left:auto;margin-right:auto}
.xtab-header-container{display:none}
.xtab-main-container{position:absolute;margin-top:10px;height:415px}
.login-msg-div{font-family:Arial;width:90%;padding:5px;margin-left:auto;margin-right:auto;margin-top:10px}
.login-header h1{font-size:24px;font-weight:200;text-transform:uppercase;color:#2d587a}
.login-msg p{font-size:14px;font-weight:200;color:#222;white-space:normal}
.login-form-div{clear:both;margin-top:1%;width:90%;padding:5px;margin-left:auto;margin-right:auto}
form.login-form{clear:both}
.login-form div{font-size:14px;font-family:Arial;margin-right:12px}
.login-form div label {
	font-weight: 500;
	color: #222;
	display: block;
	padding-top: 6px;
}
.login-form div span {
	display: block;
	margin-top: 5px;
}
.login-form div span a {
	color: #f7901e;
	font-family: Arial;
	font-size: 12px;
	font-weight: 200;
	text-decoration: none
}
.login-form div span a:hover {
	text-decoration: underline
}
.login-form div input {
	width: 90%;
	padding: 5px;
	background-color: #ebebeb;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	border-radius: 3px;
}
.login-form div input:focus {
	outline-color: #59abed;
	outline-offset: 2;
}
.login-form div input.btn {
	width: 80px;
	margin-top: 3px;
}
.login-form div.login-butn-div {
	float: left;
	background-color: #549436;
	width: 75px;
	border-radius: 2px;
	height: 30px;
	text-align: center;
	margin-top: 10px;
}
.login-form div.login-butn-div a.login-butn {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 2em;
	text-decoration: none
}
#incentive-div {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 480px;
}
.incentive-summary-div {
	width: 91.98%;
	font-family: Arial;
	font-size: 14px;
	margin-top: 250px;
	position: absolute;
	background-color: #fafafa;
	border-radius: 6px;
	min-height: 185px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.incentive-summary-div #summary {
	font-weight: bold;
	border-bottom: thin solid #eee;
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 98%;
	padding-left: 6px;
}
.incentive-summary-div div {
	width: 100%;
	padding-top: 12px;
	border-bottom: thin solid #eee;
	padding-bottom: 35px;
}
.incentive-summary-div div:nth-child(4n+4) {
	border: none !important;
}
.incentive-summary-div div label {
	color: #9E9E9E;
	font-family: Arial;
	font-size: 12px;
	padding-left: 5px;
	font-weight: 200;
	display: inline-block;
	float: left;
	line-height: 1em;
}
.incentive-summary-div div label span.summary-period {
	display: block;
	padding-top: 4px;
}
.incentive-summary-div div span.currency-symbol-amount {
	color: #585858;
	float: right;
	padding-right: 10px;
	font-weight: bold;
	display: inline-block;
	line-height: 1.5em;
}
.xtab-report-section {
	display: none
}
.links-div {
	display: none;
}
.mobile-links-div {
	width: 91.98%;
	height: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
.mobile-links-position{
	margin-top: 225px;
	position: absolute;
	left: 0;
	right: 0;	
}
.mobile-links-div a {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.mobile-links-div a span.estimator_butn {
	background-color: #8BC380;
	color: #fff;
	padding: 9px;
	padding-left: 0;
	padding-right: 0px;
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	display: block
}
.mobile-links-div a span.ranking_butn {
	background-color: #2A89D5;
	color: #fff;
	padding: 9px;
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	display: block;
}
#contentSlider-2 ul{
	height: 77px !important;
	overflow: hidden;
}
.custom-slider-container #contentSlider ul li div canvas {
	margin-top: -6% !important;
	width: 90% !important;
	height: 115px !important;
}
.coverFlow ul li div span {
	width: 85%;
	overflow-x: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	margin-top: 2px;
}
.coverFlow ul li div label {
	display: block;
	padding-top: 5px;
	font-size: 24px;
	text-align: center;
}
.custom-slider-container #contentSlider ul li {

	background-color: #fafafa !important;
	border-radius: 6px;
	height: 100%;
	padding-top: 15px;
}

.incentive-statement {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 225px;
}
.incentive-statement div.coverFlowNav {
	margin-top: 65px !important;
}
/*.incentive-statement div.coverFlowNav {
 margin-left: 2px !important;
 }*/
.custom-slider-container {
	height: 190px !important;
}
.custom-slider-container #contentSlider {
	height: 180px !important;
	border-radius: 6px;
}
.horizontal-separator-thin {
	display: none;
}
.xtab-detail-subheader {
	display: none;
}
.xtab-mobile-gauge-header {
	width: 98.2%;
	height: 18px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	background-color: #fafafa;
	margin-bottom: 5px;
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-family: Arial;
	color: #222;
	font-weight: bold;
	margin-top: 10px;
	padding-left: 2%
}
/*ranking css*/
#ranking-div {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
div.rank-slider {
	width: 100%;
	overflow: hidden;
	height: 77px;
	margin-left: auto;
	margin-right: auto;
}
.rank-slider .coverFlowWrapper{
	height: 75px !important;
	width: 100% !important
}
.rank-table-container{
	width: 100%;
	margin-top: 10px;
	min-height: 450px;
}
.xtab-table-container {
	width: 100%;
	border: thin solid #EEE;
	max-height: 550px;
	overflow-y: auto;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.xtab-table-header {
	height: 30px;
	background-color: #fafafa;
	padding-top: 6px;
}
.xtab-table-header label.ranking {
	font-family: Arial;
	font-size: 15px;
	padding-left: 5px;
	font-weight: 200;
	float: left;
}
li.selected div.rankingGroupSelect span {
	color: #fff !important;
}
li.selected div.rankingGroupSelect label.individual-rank {
	color: #fff !important;
}
.xtab-table-header label.period {
	float: right;
	font-family: Arial;
	font-size: 10pt;
	margin-top: -24px;
	padding-right: 10px;
	font-weight: 200;
}
div.xtab-table-row {
	height: 50px;
	border-bottom: thin solid #eee;
	background-color: #fafafa;
	margin-bottom: 0.6px;
}
.xtab-row-highlight {
	background-color: #fff !important;
}
.xtab-table-row div.incent-rank {
	width: 35px;
	height: 100%;
	font-size: 15px;
	color: #222;
	text-align: center;
	float: left;
	line-height: 3em;
	font-family: Arial;
}
.xtab-table-row div.rep-name {
	float: left;
	font-family: Arial;
	font-weight: 200;
	font-size: 13px;
	margin-top: 16px;
	white-space: nowrap;
}
label.individual-rank {
	display: block;
	height: 0px;
	margin-top: 10px;
	font-size: 24px;
	font-weight: 200;
	cursor: pointer
}
.highlight-rank {
	background-color: #8BC380;
	width: 35px;
	height: 100%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	float: left;
	line-height: 3em;
	font-family: Arial;
}
.xtab-table-row div.rep-title {
	display: none;
}
.xtab-table-row div.repui-progressbar {
	display: none;
}
.xtab-table-row div.repui-progressbar div {
	height: 15px
}
.xtab-table-row div.attainment {
	margin-top: 17px;
	padding-right: 35px;
	font-family: Arial;
	font-size: 15px;
	font-weight: 200;
	color: #222222;
	text-align: left;
	display: inline;
	float: right;
	line-height: 1em;
}
div.rep_image {
	height: 45px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 6px;
	margin-left: -4px;
	width: 45px;
}
.rep_image img {
	width: 45px;
	height: 45px;
	border-radius: 45px;
	margin-top: 2px;
}

.rounded-corners {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
}
.xtab-table-bottom {
	display: none;
}
.bottom-border-div {
	display: none;
	height: 0px;
}
.horizontal-separator {
	display: none
}
/*paginator css*/
.paginator-panel {
	max-width: 250px;
	position: absolute;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.paginator {
	margin-top: 5px;
	line-height: 2em;
	font-size: 14px;
	font-family: Arial;
}
.alert {
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FFFBF2;
	border: 1px solid #F8BE97;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.alert, .alert h4 {
	color: #c09853;
	font-size: 12px;
}
.msg-panel{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
}
.msg-panel .alert{
	width: 75% !important;
}
.xactly-error-component{
    display: block;
    width: 90% !important;
    min-height: 300px !important;
    margin-left: auto;
	margin-right: auto;
}
.xactly-error-component .logo-image-div{
	width: 116px !important;
	height: 36px !important;
}
.xactly-error-component .logo-image-div img{
	width: 100%;
	height: 100%;
}
.xactly-error-component .error-msg-div{
	width: 97% !important;
	text-align: justify;
	overflow-wrap: break-word;
	font-size: 11px !important;
	padding: 3px !important;
	float: none;
	display: block;
}
.xactly-error-component .error-msg-div p{
	margin: 0 !important;
}
