.THIS .sub-header-text{
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
    color: t(SecondaryHeaderColor);
}

.THIS .sub-section-divider{
      margin:0.5rem 0;
      border-top: 2px solid t(SecondaryHeaderColor);
}