/*


*/

.svmx-profiler-ui-container {
    width: 100%;
    background-color: white;
}

.svmx-profiler-ui-container .svmx-docked-bottom {
    background: #e5e5e5 !important;
    border-color: #d3d3d3 !important;
}

.svmx-profiler-ui-container .svmx-docked-bottom div {
    background: #e5e5e5 !important;
}

.svmx-profiler-ui-container .svmx-docked-bottom div button {
    border: 1px solid transparent !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    height: 30px !important;
    margin: 20 0 !important;
    outline: none !important;
    padding: 0 5 0 5 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    background: #4285f4 !important;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea) !important;
    background: linear-gradient(top,#4387fd,#4683ea) !important;
    cursor: pointer;
}

.svmx-profiler-ui-container .svmx-docked-bottom div.svmx-box-item {
    background: -webkit-linear-gradient(top,#4387fd,#4683ea)!important;
}

.svmx-profiler-ui-container .svmx-docked-bottom div button span{
    color: #FFF!important;
}








