.THIS .instructor-header{
    font-family : Salesforce Sans;
    font-size : 12px;
    font-weight : 400;
    letter-spacing : 1px;
    line-height : 15px;
    padding-left : 10px;
}

.THIS.instructor-body{
    background-color:#fafaf9;
    margin-top: 10px; 
    border-radius: 5px;
}