html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: normal;
	vertical-align: baseline;
}
* {
padding: 0;
margin: 0;
}
html, body {position:relative}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;		
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.bgGradient{
	background: #c7f1fd; /* Old browsers */
	background: -moz-linear-gradient(top, #c7f1fd 0%, #80e1fc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7f1fd), color-stop(100%,#80e1fc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c7f1fd 0%,#80e1fc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c7f1fd 0%,#80e1fc 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #c7f1fd 0%,#80e1fc 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7f1fd', endColorstr='#80e1fc',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #c7f1fd 0%,#80e1fc 100%); /* W3C */			
	margin: 10px auto;
	overflow: hidden;
	padding: 10px;
	width: 97%;	
}
.mainContainer {
	margin:0 auto; 
	width:100%;
	padding:10px;
	overflow:hidden; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px;
	background: #eefafd; /* Old browsers */
	background: -moz-linear-gradient(top, #f7fcfe 0%, #d8f2fa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7fcfe), color-stop(100%,#d8f2fa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7fcfe 0%,#d8f2fa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7fcfe 0%,#d8f2fa 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7fcfe 0%,#d8f2fa 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fcfe', endColorstr='#d8f2fa',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f7fcfe 0%,#d8f2fa 100%); /* W3C */
}
.searchH{
	text-align:center;
	margin:0 0 15px;
	padding:10px 0;
	border: 1px solid #666; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px;
}
.searchH span{
	font-weight:bold;	
}
.searchH .inputBox{
	width:300px;
	padding:3px;
	border: 1px solid #aaaaaa; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:3px;	
}
.goBtn {
	font-family: Arial;
	color: #ffffff; 
	padding: 2px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	border: none;	
	background: #da5c28; /* Old browsers */
	background: -moz-linear-gradient(top, #e89c7d 70%, #da5c28 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#e89c7d), color-stop(100%,#da5c28)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e89c7d 70%,#da5c28 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e89c7d 70%,#da5c28 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e89c7d 70%,#da5c28 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89c7d', endColorstr='#da5c28',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e89c7d 70%,#da5c28 100%); /* W3C */
	display:inline-block;
	cursor:pointer;
	font-weight:bold
}
.tabHolder {
	border: 1px solid #7C7C7C;
	border-radius: 5px 5px 5px 5px;
	float: left;
	width: 20%;
}
ul.tabs {
	margin: 0;
	padding: 0;	
	list-style: none;
	width:100%;
	border-bottom:none;
}
ul.tabs li {
	
    border-bottom: 1px solid #ca6545;
    display: block;
    margin: 0;
    padding: 0;
}
ul.tabs li.last {
	border-bottom:none
}
ul.tabs li a {
	background: #e08162; /* Old browsers */
	background: -moz-linear-gradient(top, #fff0d5 0%, #fdaf65 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff0d5), color-stop(100%,#fdaf65)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0d5', endColorstr='#fdaf65',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* W3C */
	color: #000;
    display: block;
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
}
ul.tabs li a:hover {
	background: #e3653c; /* Old browsers */
	background: -moz-linear-gradient(top, #ecac94 0%, #e3653c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecac94), color-stop(100%,#e3653c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ecac94 0%,#e3653c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ecac94 0%,#e3653c 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ecac94 0%,#e3653c 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecac94', endColorstr='#e3653c',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ecac94 0%,#e3653c 100%); /* W3C */	
}
ul.tabs li a span {
    display: block;
    line-height: 25px;
}
ul.tabs li a span {	
	display:block;
	line-height:25px;
}
ul.tabs li.active a span {
	background: url(arrow.png) no-repeat right 3px;
	display:block;
	margin:0 -20px 0 0;
	line-height:25px;
}
ul.tabs li.active a,
ul.tabs li.active a:hover {
	background: #e08162; /* Old browsers */
	background: -moz-linear-gradient(top, #e8baa8 0%, #e08162 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8baa8), color-stop(100%,#e08162)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8baa8', endColorstr='#e08162',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e8baa8 0%,#e08162 100%); /* W3C */
	color:#FFFFFF;	
}
ul.tabs li.first a{
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
	padding:6px 10px 4px;	
}
ul.tabs li.last a{
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px; 
	border-radius:0 0 5px 5px;
	padding:4px 10px 6px;	
}
ul.tabs li.first a.selected,
ul.tabs li.first a:hover {
	background: #e08162; /* Old browsers */
	background: -moz-linear-gradient(top, #e8baa8 0%, #e08162 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8baa8), color-stop(100%,#e08162)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8baa8', endColorstr='#e08162',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e8baa8 0%,#e08162 100%); /* W3C */
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
	padding:6px 10px 4px;	
}
ul.tabs li a:focus {
	outline: 0;
}

ul.tabs {
	margin: 0;
	padding: 0;	
	list-style: none;
	width:100%;
	border-bottom:none;
}
ul.tabs li {
	
    border-bottom: 1px solid #ca6545;
    display: block;
    margin: 0;
    padding: 0;
}
ul.tabs li.last {
	border-bottom:none
}
ul.tabs li a {
	background: #e08162; /* Old browsers */
	background: -moz-linear-gradient(top, #fff0d5 0%, #fdaf65 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff0d5), color-stop(100%,#fdaf65)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0d5', endColorstr='#fdaf65',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* W3C */
	color: #000;
    display: block;
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
}
ul.tabs li a:hover {
	background: #e3653c; /* Old browsers */
	background: -moz-linear-gradient(top, #ecac94 0%, #e3653c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecac94), color-stop(100%,#e3653c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ecac94 0%,#e3653c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ecac94 0%,#e3653c 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ecac94 0%,#e3653c 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecac94', endColorstr='#e3653c',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ecac94 0%,#e3653c 100%); /* W3C */	
}
ul.tabs li a span {
    display: block;
    line-height: 25px;
}
ul.tabs li a span {	
	display:block;
	line-height:25px;
}
ul.tabs li.active a span {
	background: url(arrow.png) no-repeat right 3px;
	display:block;
	margin:0 -20px 0 0;
	line-height:25px;
}
ul.tabs li.active a,
ul.tabs li.active a:hover {
	background: #e08162; /* Old browsers */
	background: -moz-linear-gradient(top, #e8baa8 0%, #e08162 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8baa8), color-stop(100%,#e08162)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8baa8', endColorstr='#e08162',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e8baa8 0%,#e08162 100%); /* W3C */
	color:#FFFFFF;	
}
ul.tabs li.first a{
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
	padding:6px 10px 4px;	
}
ul.tabs li.last a{
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px; 
	border-radius:0 0 5px 5px;
	padding:4px 10px 6px;	
}
ul.tabs li.first a.selected,
ul.tabs li.first a:hover {
	background: #e08162; /* Old browsers */
	background: -moz-linear-gradient(top, #e8baa8 0%, #e08162 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8baa8), color-stop(100%,#e08162)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8baa8', endColorstr='#e08162',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e8baa8 0%,#e08162 100%); /* W3C */
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
	padding:6px 10px 4px;	
}
ul.tabs li a:focus {
	outline: 0;
}

/* Tab set 2 Start here */

ul.tabs22 {
	margin: 0;
	padding: 0;	
	list-style: none;
	width:100%;
	border-bottom:none;
}
ul.tabs22 li {	
    border-bottom: none;
    display:inline-block;
    margin: 0 3px 0 0;
    padding: 0;
}
ul.tabs22 li.last {
	border-bottom:none
}
ul.tabs22 li a {
	background: #e08162; /* Old browsers */
	background: -moz-linear-gradient(top, #fff0d5 0%, #fdaf65 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff0d5), color-stop(100%,#fdaf65)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0d5', endColorstr='#fdaf65',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fff0d5 0%,#fdaf65 100%); /* W3C */
	color: #000;
	border: 1px solid #ca6545;
	border-bottom:none;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px;
    text-decoration: none;
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
}
ul.tabs22 li a:hover {
	background: #e3653c; /* Old browsers */
	background: -moz-linear-gradient(top, #ecac94 0%, #e3653c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecac94), color-stop(100%,#e3653c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ecac94 0%,#e3653c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ecac94 0%,#e3653c 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ecac94 0%,#e3653c 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecac94', endColorstr='#e3653c',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ecac94 0%,#e3653c 100%); /* W3C */	
}
ul.tabs22 li.active a,
ul.tabs22 li.active a:hover {
	background: #e08162; /* Old browsers */
	background: -moz-linear-gradient(top, #e8baa8 0%, #e08162 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8baa8), color-stop(100%,#e08162)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8baa8', endColorstr='#e08162',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e8baa8 0%,#e08162 100%); /* W3C */
	color:#FFFFFF;	
}
ul.tabs22 li.first a{
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
	padding:6px 10px 4px;	
}
ul.tabs22 li.last a{
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px; 
	border-radius:0 0 5px 5px;
	padding:4px 10px 6px;	
}
ul.tabs22 li.first a.selected,
ul.tabs22 li.first a:hover {
	background: #e08162; /* Old browsers */
	background: -moz-linear-gradient(top, #e8baa8 0%, #e08162 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8baa8), color-stop(100%,#e08162)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e8baa8 0%,#e08162 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8baa8', endColorstr='#e08162',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e8baa8 0%,#e08162 100%); /* W3C */
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
	padding:6px 10px 4px;	
}
ul.tabs22 li a:focus {
	outline: 0;
}

/* Tab set 2 Ends here */


/*
ul.tabs li.active a,
ul.tabs li.active a:hover {
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
	padding:6px 10px 4px;	
}


html ul.tabs li.active a  { /*--Makes sure that the active tab does not listen to the hover properties--
	background: #B7F0FF !important;	
	color:#000;	
}*/
.tabContainer{
	float:left; 
	width:80%; 
	clear:none; 
	padding:0 0 0 10px;
}
.tabContent {
	border: 1px solid #696969;
	border-radius: 5px 5px 5px 5px;
	min-height: 350px;
	padding: 0 0 10px 5px !important;
}
.tab_container {
	border: 1px solid #636262;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	-moz-border-radius: 0 0 5px 5px; 
	-webkit-border-radius: 0 0 5px 5px; 
	border-radius: 0 0 5px 5px;
}
.tab_content {
	padding: 0;
	clear:both;
	overflow:hidden;
}
.content { 
	border: 1px solid #666666;
	margin: 0;
	min-height: 100px;
	padding: 10px;
	-moz-border-radius: 0 5px 5px 5px; 
	-webkit-border-radius: 0 5px 5px 5px; 
	border-radius: 0 5px 5px 5px;	
}

.content .heading {
	border:1px solid #57BFFD;
	border-bottom-color:#1797c0; 
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
    padding:6px 8px 5px; 
	font-weight:bold;
	color:#FFFFFF;
	text-transform:uppercase;	
	background: #37b1d3; /* Old browsers */
	background: -moz-linear-gradient(top, #a4dbeb 0%, #37b1d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4dbeb), color-stop(100%,#37b1d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a4dbeb 0%,#37b1d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a4dbeb 0%,#37b1d3 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a4dbeb 0%,#37b1d3 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4dbeb', endColorstr='#37b1d3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #a4dbeb 0%,#37b1d3 100%); /* W3C */
}
.tableHolder{
	overflow:hidden; 
}
#gridTable1, #gridTable2, #gridTable3, #gridTable4, #gridTable5, #gridTable6, #gridTable7, #gridTable8 {	
    border-collapse: collapse;
    clear: both;
    font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;	
}
#gridTable1 th, #gridTable1 td, #gridTable2 th, #gridTable2 td, #gridTable3 th, #gridTable3 td,
#gridTable4 th, #gridTable4 td, #gridTable5 th, #gridTable5 td, #gridTable6 th, #gridTable6 td,
#gridTable7 th, #gridTable7 td, #gridTable8 th, #gridTable8 td {
    border: 1px solid #57bffd !important;
    padding: 5px;
    text-align: left;
    white-space: normal;
}
select option {
    padding: 0 10px 0 0 !important;
}
.mainContainer, .dataTables_length, .tabHolder, .tabContainer,  .dataTables_info, .tab_container, ul.tabs, .SVMXloader {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.SVMXloader {
    background: #9EE8FA url(ajax-loader.gif) no-repeat 10px center; /* Old browsers */
	background: url(ajax-loader.gif) no-repeat 10px center, -moz-linear-gradient(top, #9EE8FA 0%, #D6F9FF 100%); /* FF3.6+ */
	background: url(ajax-loader.gif) no-repeat 10px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9EE8FA), color-stop(100%,#D6F9FF)); /* Chrome,Safari4+ */
	background: url(ajax-loader.gif) no-repeat 10px center, -webkit-linear-gradient(top, #9EE8FA 0%,#D6F9FF 100%); /* Chrome10+,Safari5.1+ */
	background: url(ajax-loader.gif) no-repeat 10px center, -o-linear-gradient(top, #9EE8FA 0%,#D6F9FF 100%); /* Opera11.10+ */
	background: url(ajax-loader.gif) no-repeat 10px center, -ms-linear-gradient(top, #9EE8FA 0%,#D6F9FF 100%); /* IE10+ */
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    color: #000;
    font-weight: bold;
    overflow: hidden;
    padding: 12px 20px 12px 48px;
	width:99%;
	margin:0 auto;
}



















