.svmx-column-header-inner .svmx-column-header-text {
	white-space: normal !important;
} 
.svmx-column-header-inner {
	line-height: normal;
}

.svmx-checkcolumn-header-text {
    font-family: 'Open Sans','Avenir',helvetica, arial, verdana, sans-serif !important;
    font-size: 14px !important;
    color: #333333 !important;
}

.svmx-noncheckcolumn-header-text {
    font-family: 'Open Sans','Avenir',helvetica, arial, verdana, sans-serif !important;
    font-size: 16px !important;
    color: #333333 !important;
    font-weight: bold !important;
}

.svmx-apft-dropdown {
	font-family: 'Open Sans','Avenir',helvetica, arial, verdana, sans-serif !important;
    font-size: 13px !important;
    color: #333333 !important;
    font-weight: bold !important;
}

.svmx-secondPanel-border {
	border-left-style: none;
}

.svmx-border-box .svmx-field-default-toolbar .svmx-form-text {
    height: 30px !important;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    //border-right: 0px;
    font-size: 14px !important;
    color: #333333 !important;
    font-family: 'Open Sans','Avenir',helvetica, arial, verdana, sans-serif !important;
}

.svmx-boundlist-item-over {
    background: #CCCCCC !important;
    font-size: 14px !important;
    color: #333333 !important;
}

.svmx-boundlist {
    font-size: 14px !important;
    border: 1px solid #CCCCCC !important;
}

.svmx-column-header-sort-DESC .svmx-column-header-text {
    background-image: url('../../resources/images/Descending_Arrow.png') !important;
    padding-right: 20px !important;
    background-repeat: no-repeat !important;
    background-position: right top !important;
}

.svmx-column-header-sort-ASC .svmx-column-header-text {
    background-image: url('../../resources/images/Ascending_Arrow.png') !important;
    padding-right: 20px !important;
    background-repeat: no-repeat !important;
    background-position: right top !important;
}

.svmx-toolbar{
    padding: 4px 0px 3px 0px !important;
}

.svmx-form-item-body {
    position: relative;
    line-height: 21px;
}

.svmx-toolbar-default{
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
}

.svmx-panel-header-horizontal{
    padding: 8px 5px !important;
}

.svmx-panel-body-default{
    border-top: none !important;
}

.svmx-panel-header-default .svmx-panel-header-text-default{
    margin-right: 150px;
}

.svmx-appfilter-help-icon {
   display:block !important;
   width:24px !important;
   height:24px !important;
   background:url(../images/Help.png) no-repeat;
   left : -4px !important;
   top: -4px !important;
}