/* header for sections*/
.sub-header-text{
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
}

.sub-section-divider{   
    margin:0.5rem 0;
}

.sub-header-black-text{
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
    color: #090a0a;
}

.slds-m-top_btn{
    margin-top:1.2rem;  
}

.search-input > div.slds-form-element > div.slds-form-element__control >input{
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    
}

.search-btn {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}