.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.first-search, .second-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table_section {
    overflow-x: scroll;
}