.comp-btn {
    display: block;
    width: 100%;
    margin: 0 5px 10px 5px;
}
.scrollproperties::-webkit-scrollbar {
    display: none;
}
.card-title{
  font-size: 15px;
}
.scrollproperties{
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: inline-flex;
  overflow: scroll;
}
.btn-div{
  display: flex;
  justify-content: center;
}
.card-grid{
  margin-top: -30px;
}
.body-grid{
  height: 300px;
}