.THIS h2.interface-log-viewer-header {
    font-weight: bold;
}

.THIS.search-container {
    background-color: #ffffff;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    margin: 10px 0 5px 0;
}

.THIS .bld-label label {
    font-weight: bold;
}

.THIS .clr-label label.slds-form-element__label {
    display: none;
}

.THIS .results-data-table {
    height: 400px;
}

.THIS .search-panel-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2e8ff+0,8cd3f8+100&0.5+0,1+100 */
    background: -moz-linear-gradient(left, rgba(194,232,255,0.5) 0%, rgba(140,211,248,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(194,232,255,0.5) 0%,rgba(140,211,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(194,232,255,0.5) 0%,rgba(140,211,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c2e8ff', endColorstr='#8cd3f8',GradientType=1 ); /* IE6-9 */
}

.THIS .custom-box-shadow {
    border-radius: 4px;
    box-shadow: 2px 2px 10px #555555;
}

.THIS .result-json-wrapper {
    height: 400px;
}

.THIS .result-json-wrapper textarea {
    color: #1b529b;
    font-family: courier, "Salesforce Sans", Arial, sans-serif;
    height: 400px;
}

.THIS .slds-card__footer {
    background-color: rgb(0, 109, 204);
    color: #ffffff;
}