body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: fit-content;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.quote-info {
    font-size: 14px;
    text-align: right;
    color: #555;
}

.approve-reject {
    color: #007bff;
    cursor: pointer;
}

.analysis-section {
    margin-top: 30px;
    width: fit-content;
}

.box {
    padding: 10px;
    margin-bottom: 20px;
}

.box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.style-1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.box .info {
    font-size: 16px;
    color: red;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    padding: 8px;
    text-align: center;
}

.product-table th {
    background-color: #004896d3;
    color: white;
}

.product-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-family-table {
    margin-top: 20px;
    border-collapse: collapse;
}

.product-family-table th,
.product-family-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.product-family-table th {
    background-color: #004896d3;
    color: white;
}

.note {
    font-size: 12px;
    margin-top: 20px;
    color: #888;
}