.divBtnCls{
	width:100%;
	display:flex; 
	margin-left : 45%;
}

.btnCls{
	background : white; 
	border : 0px;
	 color : blue;
}
.my-modal-footer {
    --slds-c-modal-footer-color-background: white;
}
.btnNew{
	margin : 0px 10px 10px 0px;
}