.global-form {
    height: 21rem;
}

.separator {
    background-color: #bcbcbc;
    padding: 1px 5px;
    font-family: ProximaNova, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.buttons-container {
    padding: 20px;
}