.section1{
    height:232px;
}
.section2{
    height:445px;
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
}
/* Remove the pencil icon from editable cells */
.editable-field .slds-cell-edit .slds-icon-pencil {
    display: none;
}