
/* Vertical Tab Bar */

.svmx-tab-default-left {
    min-height: 30px !important;
    min-width: 200px !important;
    margin-top: 2px !important;
    padding-top: 2px !important;
    border: none !important;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff0d5), color-stop(100%, #fdaf65));
}

.svmx-tab-left-active {
    background-image: url('../../resources/themes/images/svmx-classic/tab/tab-default-top-active-bg.gif') !important;
}

.svmx-tab-bar-strip-default-left, .svmx-tab-bar-body-default-left {
    border: none; !important;
    border-right: 2px solid #e3653c !important;
}

.title-text {
    font-size: 20px!important;
}

.inner-title-text {
    font-size: 14px!important;
    font-weight: bold !important;
}

.svmx-spm-save-icon {
	display:block !important;
	width:24px !important;
	height:24px !important;
	background:url(../images/svmx_sfm_classic_sprite.png) no-repeat -41px -35px;	
}

.svmx-spm-cancel-icon {
	display:block !important;
	width:24px !important;
	height:24px !important;
	background:url(../images/svmx_sfm_classic_sprite.png) no-repeat -121px -35px;
}