
/* Vertical Tab Bar */

.svmx-spm-help-icon {
   display:block !important;
   width:24px !important;
   height:24px !important;
   background:url(../images/Help.png) no-repeat;
   left : -24px !important;
}


.svmx-tab-default-left {
    min-height: 30px !important;
    min-width: 200px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    border: none !important;
    background-color: white;
}

.svmx-tab-left-active {
	background-color: white;
    background: #ff6633 none repeat;
	background-image: -webkit-linear-gradient(top, #ff6633, #ff6633);
}

.svmx-tab button .svmx-tab-inner {
    display:inline !important;
}

.svmx-tab-bar-strip-default-left, .svmx-tab-bar-body-default-left {
    border: none !important;
    /*border-right: 2px solid #e3653c !important;*/
}

.title-text {
    font-size: 20px!important;
}

.inner-title-text {
    font-size: 14px!important;
    font-weight: bold !important;
}

.svmx-spm-save-icon {
    display:block !important;
    width:24px !important;
    height:24px !important;
    background:url(../images/svmx-sfm-orange-sprite.png) no-repeat -40px -36px;    
}

.svmx-spm-cancel-icon {
    display:block !important;
    width:24px !important;
    height:24px !important;
    background:url(../images/svmx_sfm_classic_sprite.png) no-repeat -121px -35px;
}

.svmx-spm-delete-icon {
    display:block !important;
    width:32px !important;
    height:28px !important;
    cursor: pointer !important;
    background:url(../images/sprite-timesheet.png) no-repeat -36px -2px;
}

.svmx-spm-back-icon {
    display:block !important;
    width:32px !important;
    height:32px !important;
    background:url(../images/sprite-timesheet.png) no-repeat -72px -36px;
}

.svmx-spm-add-icon {
    display:block !important;
    width:28px !important;
    height:24px !important;
    background:url(../images/svmx-sfm-orange-sprite.png) no-repeat -80px -0px;
}

.spm-genral-tab {
    padding: 2px 0px 0px 0px !important;
    border: 0px !important;
}


.spm-genral-tab .svmx-panel-body-default {
    border-color: #d1d1d1 !important;
    border-left: 0px;
}

.spm-genral-tab .svmx-tab-bar-default-plain-docked-left {
    border-right: 1px solid #d1d1d1 !important;
}

.spm-genral-tab .svmx-tab-bar-default-plain-docked-left .svmx-tab-bar-body {
    border-right: 1px solid #d1d1d1 !important;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

