html {
	font-size: 16px;
	font-family: 'Salesforce Sans', arial, sans-serif;
}

body {
	position: relative;
	font-family: 'Salesforce Sans', arial, sans-serif;
}

.classic-root-opdoc .opdoc-header-container {
	position: relative;
}

.lightning-root-opdoc .opdoc-header-container{
	position: fixed;
	top: 0;
	left: 0;
}

.opdoc-header-container{
	background: #fafaf9;
	padding: 12px 20px;
	z-index: 1;
}

.opdoc-header-title {
	background:#fafaf9;
	margin-bottom: 5px;
}

.opdoc-header-title img {
	border-radius: 0.25rem;
}

.lightning-root-opdoc {
	overflow: hidden !important;
}

.opdoc-document-page-container {
	position: relative;
	top: 100px;
	margin-bottom: 125px;
}

.opdoc-header-title h1 {
	color: #16325c;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
}

.opdoc-header-title span {
	color: #54698d;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.opdoc-btn {
    display: inline-block;
    padding: 0 1rem 0 1rem;
    background-clip: border-box;
    border-radius: 0.25rem;
    line-height: 1.875rem;
    color: #0070d2;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dddbda;
	border-color: #dddbda;
	background-color: white;
	font-size: 13px;
}

.opdoc-btn:hover, .opdoc-btn:focus {
	background-color: #f4f6f9;
}

.opdoc-btn:focus {
	outline: 0;
    box-shadow: 0 0 3px #0070D2;
}

.opdoc-btn:active {
	background-color: #eef1f6;
}

.opdoc-btn-brand {
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dddbda;
	transition: border 0.15s linear;
	background-color: #0070d2;
	border-color: #0070d2;
	color: white;
}

.opdoc-btn-brand:link, .opdoc-btn-brand:visited, .opdoc-btn-brand:active {
	color: white;
}

.opdoc-btn-brand:hover, .opdoc-btn-brand:focus {
	background-color: #005fb2;
	border-color: #005fb2;
	color: white;
}

.opdoc-btn-brand:active {
	background-color: #005fb2;
	border-color: #005fb2;
}

.spinner-lightning {
	background: url(../images/slds_spinner_brand.gif) no-repeat center rgba(0,0,0,0);
	background-size: 50px 50px;
	width: 75px !important;
	height: 75px;
}

.spinner-lightning > div {
	display: none;
}
.spinner-lightning-container {
	position: fixed;
	left: calc(50% - 37px);
	top: calc(50% - 37px);

}

