.inputfield {
    padding: 0px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.stagename {
    padding: 0px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: bold;
}