.input-row{
    display: inline-flex;
    width: 18%;
    margin-right: 1.5% !important;
    height: 40px;
}
.srch-btn-td{
    padding-right: 0;
}
.search-btn{
    background-color: rgb(18 96 11);
    height: 33px;
    width: 80%;
    border-radius: 5px;
    color: white;
    border-width: 0;
}
td{
    padding-right: 15px;
    width:18%;
}
table{
    margin-bottom: 10px;
}
/* lightning-input{
    height: 75px;
} */
.input-comp{
    height: 75px;
}