$white :    #ffffff;
$lightgrey: #EEF1F6;
$metalgrey: #cccccc;
$grey:      #979797;
$highlight: #ffefbb;
$blue:      #0070D2;
$formBorder: #aaaaaa;
$defaultGrey: #4A4A4A;
$defaultFont: 'Myriad Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$Awesome:   FontAwesome;
$titleFontSize: 24px;
$subheadingFontSize: 18px;
$importantFontSize: 16px;
$regularFontSize: 14px;

* {
	font: 400 14px/1.5 $defaultFont;
	color: $defaultGrey;

}

.svmx-ta-root-container {
	background: $white;
	border-radius: 0;
	border: none;
	.svmx-panel-header{
		background: $white;
		border: none;
		box-shadow: none;
		.svmx-panel-header-text-container {
			.title-text {
			    font: 400 16px/1.5 $defaultFont;
			    padding-left: 10px;
				height: 24px;	
				color: $defaultGrey;	
				font-size: 16px;	
				line-height: 24px;			
			}
		}
	}

	.svmx-panel-body-default-framed {
		background: $white;
		border: none;
		overflow: visible !important;
		.svmx-fieldset {
			border: none;
			border-width: 0;
			.svmx-toolbar {
				background: $white;
			}
		}
	}

	.svmx-panel-body-default {
		background: $white;
		border: none;
		.svmx-toolbar-default {
			background: $white;
			border: none;
		}
	}

	.svmx-ta-toolbar {
	    border-bottom-width: 1px;
	    border-bottom: 1px solid $grey !important;
	    margin-left: 10px;	
	    .svmx-toolbar-item {
			color: $defaultGrey;	
			font-family: $defaultFont;	
			font-size: 16px;	
			line-height: 20px;	    	
	    }
	    .svmx-btn {
			background: $white;
			border: none;
			padding: 5px;
			.svmx-btn-inner {
			    font: 400 14px/18px $defaultFont;
				color: $blue;
				max-width: 75px;
				min-width: 64px;	
				font-size: 14px;	
				line-height: 16px;
  				text-overflow: ellipsis;
			}
	    }

	    .svmx-btn-default-toolbar-small-disabled {
	    	.svmx-btn-inner {
	    		color: $grey;
	    	}
	    }
	    
		.svmx-toolbar-separator-horizontal {
			border-left: 1px solid $grey;
			border-right-width: 0 !important;
		}
	}

	table.svmx-autocontainer-form-item {
		position: relative;
		font-family: $defaultFont;
		&.svmx-item-disabled {
			label.svmx-form-item-label {
				opacity: 1;
			}
		}
		label.svmx-form-item-label {
			font-family: $defaultFont !important;
			height: 24px;	
			color: $defaultGrey;	
			font-size: 14px;	
			line-height: 18px;
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			border-bottom: 1px solid $metalgrey;
			height: 10px;
			background: transparent;
		}
		.svmx-form-text {
			height: 30px !important;
			color: $defaultGrey;	
			font-family: $defaultFont;	
			font-size: 14px;	
			line-height: 18px;
		}

		.svmx-trigger-cell {
			width: 30px !important;
		}

		.svmx-form-trigger {
			height: 30px !important;			
		}

		.svmx-unselectable {
			.svmx-form-text {
				width: 100%;
				min-width: 150px;
				color: $defaultGrey;	
				font-family: $defaultFont;	
				font-size: 14px;	
				line-height: 18px;
			}			
		}

		&.svmx-item-disabled .svmx-form-field {
			opacity: 0.6;
		}
		.svmx-form-item-body > .svmx-form-text {
			width: 100%;
			min-width: 150px;			
			color: $defaultGrey;	
			font-family: $defaultFont;	
			font-size: 14px;	
			line-height: 18px;
		}
	}
	.svmx-ta-form-text {
		height: 30px;
		.svmx-form-trigger-wrap {
			width: 100% !important;
		}
		input {
			color: $defaultGrey;	
			font-family: $defaultFont;	
			font-size: 14px;	
			line-height: 18px;
		}
		td.svmx-field-label-cell {
			min-width: 250px;
		}
		td.svmx-form-item-body {
			width: calc(100% - 300px) !important;
			min-width: 150px !important;
		}
	}
	.svmx-ta-form-picklist {
		td.svmx-field-label-cell {
			min-width: 250px;
		}
		td.svmx-form-item-body {
			width: calc(100% - 250px) !important;
			min-width: 150px !important;
		}
	}

	.svmx-ta-section-container {
		.svmx-panel-header {
			background: $lightgrey;
			.svmx-panel-header-text {
				color: $defaultGrey;
				font: 400 16px/1 $defaultFont;
			}
		}
		.svmx-toolbar {
			background: $lightgrey !important;
			width: 100% !important;
			.svmx-toolbar-item {
				color: $grey;
				font: 400 14px/18px $defaultFont;
				height: 18px;	
				color: $grey;	
				font-size: 14px;	
				line-height: 18px;			
			}
		} 
	}

	.svmx-form-trigger-wrap{
		width: 100% !important;
		.svmx-form-text {
			width: 100%;
			border-radius: 0 !important;
			border-right-width: 0px;
		}
		&.svmx-unselectable {
			.svmx-form-text {
				width: 100%;
				border-radius: 0 !important;
				border-right-width: 1px;
			}
		}
	}

	.svmx-form-trigger {
	    background: white url(../images/trigger-rtl.png) no-repeat;
	    background-position: 0 center;
	    width: 30px;
	    height: 28px !important;
		border: 1px solid $formBorder;
	    border-radius: 0 !important;
	    border-left: 0;
	}

	.svmx-form-trigger-over {
		background-position: -30px center;
	}

	.svmx-form-trigger-focus {
		background-position: -120px center;
	}

	.svmx-form-trigger-focus{
		background-position: -90px center;
	}

	.svmx-form-trigger-click {
		background-position: -60px center;
	}

	.svmx-ta-save-btn {
		background: $blue !important;
    	border-radius: 0;
    	.svmx-btn-inner {
    		color: $white !important;
    	}
	}

	.svmx-ta-content-body {
		& > .svmx-panel-body {
			overflow: auto;
		}
	}

	.svmx-form-checkbox, .svmx-form-radio {
		background-image: url(../images/checkbox64x48.png);
	}
}

.svmx-boundlist {
	background: $white;
	.svmx-boundlist-selected, .svmx-boundlist-item-over {
		background: $highlight;
	}
	.svmx-boundlist-item {
		color: $defaultGrey;	
		font-family: $defaultFont;	
		font-size: 14px;	
		line-height: 18px;		
	}
}