.small-spacer-right {
    padding-right: 5px;
}

.welcome-msg-leaf {
    color: rgb(255, 180, 65);
    font-weight: bold;
    padding-left: 5px;
}

.mail-to-link {
    color: #0070d2;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.terms-of-use {
    color: #0070d2;
    font-size: .8125rem;
}

.terms-of-use:hover {
    color: rgb(255, 180, 65);
}