@CHARSET "UTF-8";

/*** General properties ***/
a:link,
a:visited
{
	color: #307ebc;
}

a:hover {
	color: #ffa339;
}

a.helper {
	text-decoration: none;
	border-bottom: 1px dotted;
}

a.disabled {
	color: #d9d9d9;
	cursor: default;
}

.ig0 {
	background-image: url("../img/main-nav-sprite.png");
	background-repeat: no-repeat;
	background-color: transparent;
}

.rc {
	position: relative;
}

/* .rc.spec {
	line-height: 1;
} */

.gr {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.bg-box.solid {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.f-width {
	width: 100%;
}

.mini-td {
	width: 1px;
	white-space: nowrap;
}

table.elements-to-row td {
	padding-right: 1.818181em;
}

.default-table-first-col {
	width: 21%;
}

/* .ver {
	margin-top: .7272em;
	margin-bottom: .7272em;
} */

.ver {
	margin-top: .6363em;
	margin-bottom: .6363em;
}

.ver2 {
	margin-top: 1.2727em;
}
/*** End General properties ***/

/*** Floating elements ***/
.pipe>* {
	float: left;
}
/*** End Floating elements ***/

/*** Inputs ***/
input[type="radio"],
input[type="checkbox"]
{
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: text-bottom;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"]
{
	color: inherit;
	border: 1px solid #ccc;
	font: inherit;
	line-height: 1.18181em;
	margin: 0;
	padding: 2px .454545em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	color: inherit;
	border: 1px solid #ccc;
	font: inherit;
	line-height: 1.18181em;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	resize: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.input-limiter input,
.input-limiter textarea,
.input-limiter .f-combobox-wrap-outer
{
	width: 100%;
}

select {
	color: inherit;
	font: inherit;
	line-height: 1.18181em;
	padding-top: 2px;
	padding-bottom: 2px;
}

.short {
	width: 12em;
}

.common {
	width: 38em;
}

.wide-3 {
	width: 75%;
}

.wide-2 {
	width: 50%;
}
/*** End Inputs ***/

/*** Screen overlay ***/
.screen-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 500;
	
	opacity: .4;
	/* background-color: red; */
}
/*** End Screen overlay ***/

/*** Wi-gen ***/
.shadow-wrap {
	position: relative;
}

.shadow-wrap img.box-shadow {
	position: absolute;
	top: 100%;
	max-width: 100%;
	height: 5px;
	vertical-align: top;
	z-index: -1;
}

.wi-gen {
	background-color: #fafafa;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
	margin-top: 1.8181em;
	margin-bottom: 1.8181em;
	padding-top: 1em;	
	padding-bottom: 1em;

	-webkit-box-shadow: 0 0 3px #cfcfcf;
	-moz-box-shadow: 0 0 3px #cfcfcf;
	-ms-box-shadow: 0 0 3px #cfcfcf;
	box-shadow: 0 0 3px #cfcfcf;
}

.wi-gen.blank {
	background-color: #fff;
}

.wi-gen .wbhc {
	margin-top: -1em;
}

.wbhc .header-color {
	color: #fff;
	background-image: -webkit-gradient( linear, left top, left bottom, from( #b4cc44 ), to( #a5bf30 ) );
	background-image: -webkit-linear-gradient( top, #b4cc44, #a5bf30 );
	background-image:    -moz-linear-gradient( top, #b4cc44, #a5bf30 );
	background-image:     -ms-linear-gradient( top, #b4cc44, #a5bf30 );
	background-image:      -o-linear-gradient( top, #b4cc44, #a5bf30 );
	background-image:         linear-gradient( top, #b4cc44, #a5bf30 );

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4cc44', endColorstr='#a5bf30' );

	border: 1px solid #a5bf30;
	font-size: 1.2em;
	line-height: 2em;
	margin-top: -1px;
	margin-left: -1px;
	padding-left: 1.667em;
	padding-right: 1.667em;
	float: left;
	
	-webkit-border-radius: 5px 0 5px 0;
	-moz-border-radius: 5px 0 5px 0;
	border-radius: 5px 0 5px 0;
}

.wi-gen.mini-header .wbhc .header-color {
	font-size: 1.0909em;
	line-height: 1.5em;
}

.wi-gen .header {
	color: #245c8a;
	font-size: 1.272727em;
	line-height: 1.42857em;
}

.wi-gen .header.ver2 {
	margin-top: 1em;
}

.wi-gen .header.default {
	color: #757575;
	font-size: 1.4545em;
	border-bottom: 1px solid #e7e7e7;
}

.wi-gen .header.specific {
	border-bottom: 1px solid #ccc;
	position: relative;
	height: 0;
	margin: 1em 0;
	clear: both;
}

.wi-gen .header-specific-wrap {
	overflow: hidden;
}

.wi-gen .header.specific>span {
	display: inline-block;
	position: relative;
	top: -.7428em;
	padding-right: .72727272em;
}

.wi-gen.blank .header.specific>span {
	background-color: #fff;
}

.wi-gen .marged {
	margin-left: 1.8181em;
	margin-right: 1.8181em;
}

.tabs-wrapper .wi-gen {
	margin-top: 0;
}
/*** End Wi-gen ***/

/*** Swap feature ***/
.swap-container .swap-item.swap-hidden {
	display: none !important;
}
/*** End Swap feature ***/

/*** Lists ***/
th {
	color: #245c8a;
	font-weight: bold;
}

table.u-list th,
table.ul-list th
{
	text-align: left;
}

table.u-list th,
table.u-list td
{
	padding: .4545em .75em .4545em 1.8181em;
}

table.u-list th + th,
table.u-list td + td
{
	padding-left: 0;
}

table.ul-list th,
table.ul-list td
{
	padding: .5454em .909em .5454em 0;
}

table.u-list tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table.u-list tbody tr:hover {
	background-color: #ebf0f5;
}

table.ul-list tbody tr,
ul.ul-list>li
/* ul.ul-list>li:first-child */
{
	border-width: 1px 0;
	border-style: solid;
	border-color: #e7e7e7;
}

ul.ul-list>li
/* ul.ul-list.half-style>li */
{
	border-top-color: transparent;
}

ul.ul-list.listing>li {
	padding-top: .4545em;
	padding-bottom: .4545em;
}

table.ul-list.half-style tbody tr {
	border-top-width: 0;
}
/*** End Lists ***/

/*** Buttons ***/
.btnCustom {
	display: inline-block;
	line-height: 1;
	position: relative;
}

a.btnCustom {
	text-decoration: none;
}

a.btnCustom>i {
	line-height: inherit;
}

.btnCustom.default {
	border: 1px solid #b2ca45;
	padding: .2em 2em .3em;
	text-shadow: #a0b542 1px 1px;

	background-image: -webkit-gradient( linear, left top, left bottom, from( #c2d85d ), to( #b2ca45 ) );
	background-image: -webkit-linear-gradient( top, #c2d85d, #b2ca45 );
	background-image:    -moz-linear-gradient( top, #c2d85d, #b2ca45 );
	background-image:     -ms-linear-gradient( top, #c2d85d, #b2ca45 );
	background-image:      -o-linear-gradient( top, #c2d85d, #b2ca45 );
	background-image:         linear-gradient( top, #c2d85d, #b2ca45 );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2d85d', endColorstr='#b2ca45' );
}

.btnCustom.default.narrow {
	padding-left: 1em;
	padding-right: 1em;
}

a.btnCustom.default {
	color: #fff;
}

a.btnCustom.default:focus {
  outline-color: #8a8a8a;
}

.btnCustom.default:hover {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0%, #c7db6e), color-stop(55%, #b2ca45), color-stop(100%, #c2d85d) );
	background-image: -webkit-linear-gradient( top, #c7db6e, #b2ca45, #c2d85d );
	background-image:    -moz-linear-gradient( top, #c7db6e, #b2ca45, #c2d85d );
	background-image:     -ms-linear-gradient( top, #c7db6e, #b2ca45, #c2d85d );
	background-image:      -o-linear-gradient( top, #c7db6e, #b2ca45, #c2d85d );
	background-image:         linear-gradient( top, #c7db6e, #b2ca45, #c2d85d );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7db6e', endColorstr='#b2ca45' );
}

.btnCustom.default:active {
	background-image: -webkit-gradient( linear, left top, left bottom, from( #b2ca45 ), to( #c2d85d ) );
	background-image: -webkit-linear-gradient( top, #b2ca45, #c2d85d );
	background-image:    -moz-linear-gradient( top, #b2ca45, #c2d85d );
	background-image:     -ms-linear-gradient( top, #b2ca45, #c2d85d );
	background-image:      -o-linear-gradient( top, #b2ca45, #c2d85d );
	background-image:         linear-gradient( top, #b2ca45, #c2d85d );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2ca45', endColorstr='#c2d85d' );
}

.btnCustom.default.t2 {
	border-color: #4782b2;
	text-shadow: 1px 1px #4a769b;

	background-image: -webkit-gradient( linear, left top, left bottom, from( #78a5ca ), to( #4782b2 ) );
	background-image: -webkit-linear-gradient( top, #78a5ca, #4782b2 );
	background-image:    -moz-linear-gradient( top, #78a5ca, #4782b2 );
	background-image:     -ms-linear-gradient( top, #78a5ca, #4782b2 );
	background-image:      -o-linear-gradient( top, #78a5ca, #4782b2 );
	background-image:         linear-gradient( top, #78a5ca, #4782b2 );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78a5ca', endColorstr='#4782b2' );
}

.btnCustom.default.t2:hover {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0%, #78a5ca), color-stop(55%, #4782b2), color-stop(100%, #78a5ca) );
	background-image: -webkit-linear-gradient( top, #78a5ca 0%, #4782b2 55%, #78a5ca 100% );
	background-image:    -moz-linear-gradient( top, #78a5ca 0%, #4782b2 55%, #78a5ca 100% );
	background-image:     -ms-linear-gradient( top, #78a5ca 0%, #4782b2 55%, #78a5ca 100% );
	background-image:      -o-linear-gradient( top, #78a5ca 0%, #4782b2 55%, #78a5ca 100% );
	background-image:         linear-gradient( top, #78a5ca 0%, #4782b2 55%, #78a5ca 100% );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78a5ca', endColorstr='#4782b2' );
}

.btnCustom.default.t2:active {
	background-image: -webkit-gradient( linear, left top, left bottom, from( #4782b2 ), to( #78a5ca ) );
	background-image: -webkit-linear-gradient( top, #4782b2, #78a5ca );
	background-image:    -moz-linear-gradient( top, #4782b2, #78a5ca );
	background-image:     -ms-linear-gradient( top, #4782b2, #78a5ca );
	background-image:      -o-linear-gradient( top, #4782b2, #78a5ca );
	background-image:         linear-gradient( top, #4782b2, #78a5ca );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4782b2', endColorstr='#78a5ca' );
}

.btnCustom.dif {
	border: 1px solid #e2e2e2;
	font-weight: bold;
	padding: .7272em .909em;
	text-align: center;
	text-shadow: 1px 1px #fff;

	background-image: -webkit-gradient( linear, left top, left bottom, from( #f2f2f2 ), to( #d9d9d9 ) );
	background-image: -webkit-linear-gradient( top, #f2f2f2, #d9d9d9 );
	background-image:    -moz-linear-gradient( top, #f2f2f2, #d9d9d9 );
	background-image:     -ms-linear-gradient( top, #f2f2f2, #d9d9d9 );
	background-image:      -o-linear-gradient( top, #f2f2f2, #d9d9d9 );
	background-image:         linear-gradient( top, #f2f2f2, #d9d9d9 );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#d9d9d9' );
	
	-webkit-box-shadow: 0px 1px 2px #9a9a9a;
	-moz-box-shadow: 0px 1px 2px #9a9a9a;
	-ms-box-shadow: 0px 1px 2px #9a9a9a;
	box-shadow: 0px 1px 2px #9a9a9a;
}

a.btnCustom.dif {
	color: #4782b2;
}

.btnCustom.dif:active:not(.f-state-disabled) {
	-webkit-box-shadow: 0px 1px 1px #9a9a9a;
	-moz-box-shadow: 0px 1px 1px #9a9a9a;
	-ms-box-shadow: 0px 1px 1px #9a9a9a;
	box-shadow: 0px 1px 1px #9a9a9a;
}

.btnCustom.dif.f-state-disabled {
	color: #c3c3c3;
	text-shadow: 1px 1px #fcfcfc;
	cursor: default;
}

.btnCustom.default.subactions {
	padding-right: .8em;
	padding-left: 1.8em;
	text-align: right;
}

.btnCustom.default.subactions i {
	background-position: -16px -256px;
	position: absolute;
	top: 50%;
	left: 5px;
	width: 7px;
	height: 5px;
	margin-top: -1px;
}

.btnCustom.delete-default {
	line-height: 0;
	padding: 3px;	
}

.btnCustom.delete-default i {
	background-image: none;
	background-position: 0 -273px;
	display: inline-block;
	width: 8px;
	height: 8px;
}

.btnCustom.delete-default:hover i {
	background-image: url("../img/main-nav-sprite.png");
}

.btnCustom.add i {
	background-position: 0 -304px;
	display: block;
	width: 16px;
	height: 16px;
}

.btnCustom.add:hover i {
	background-position: -16px -304px;
}

.btnCustom.add:active i {
	background-position: 0 -336px;
}

	/** Block utilities and buttons **/
.block-features {
	position: absolute;
	right: 0;
}

.block-btn-wrap {
	float: right;
}

.block-btn-wrap>li {
	position: relative;
	white-space: nowrap;
}

.block-btn-wrap.active .btnCustom.subactions {
	-webkit-box-shadow: 2px 2px 2px #dcdcdc;
	-moz-box-shadow: 2px 2px 2px #dcdcdc;
	-ms-box-shadow: 2px 2px 2px #dcdcdc;
	box-shadow: 2px 2px 2px #dcdcdc;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.block-btn-wrap.active .pad.subactions {
	display: block;
}
	/** End Block utilities and buttons **/
/*** End Buttons ***/

/*** Block with fixed height and scrolling content ***/
.scroll-container {
	height: 26.4545em;
	overflow-x: hidden;
	overflow-y: visible;
}

.scroll-container-th-wrap {
	position: relative; /* to make shadow appear */
	-webkit-box-shadow: 0 3px 3px -2px #ccc;
	-moz-box-shadow: 0 3px 3px -2px #ccc;
	-ms-box-shadow: 0 3px 3px -2px #ccc;
	box-shadow: 0 3px 3px -2px #ccc;
}
/*** End Block with fixed height and scrolling content ***/

/*** Datepicker structure ***/
.date-wrap-outer {
	display: inline-block;
	width: 100%;
}

.date-wrap {
	background-color: #fff;
	border: 1px solid #ccc;
	line-height: 1.18181em;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: .4545em;
}

.date-wrap input[type="text"] {
	background: none;
	border: none;
	width: 100%;
	padding: 0;
	padding-right: 18px;
	text-align: left;
}

.date-wrap .ui-datepicker-trigger {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -7px;
	margin-right: 2px;
	padding: 2px;
	cursor: pointer;
}

.date-wrap input[type="text"]::-webkit-input-placeholder {
	color: inherit;
	font-size: 1em;
	text-transform: uppercase;
}

.date-wrap input[type="text"]:-moz-placeholder {
	color: inherit;
	font-size: 1em;
	text-transform: uppercase;
}
/*** End Datepicker structure ***/

/*** UI-combobx ***/
.ui-combobox-container {
	background-color: #fff;
	border: 1px solid #ccc;
	line-height: 1.18181em;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
}

.ui-autocomplete.ui-widget-combobox-list {
	background: #fff;
}

.ui-combobox-container .ui-autocomplete-input {
	color: inherit;
	background: none;
	border: none;
	font: inherit;
	width: 100%;
	padding: 0;
	padding-right: 16px;
	padding-left: .4545em;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.ui-combobox-container .ui-widget-combobox + .ui-button {
	background: #fff;
	border: none;
	position: absolute;
	top: 1px;
	bottom: 1px;
	right: 1px;
	width: 16px;
	cursor: pointer;
}

.ui-widget-combobox + .ui-button .ui-icon {
	background: url("../img/main-nav-sprite.png") no-repeat 0 -368px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7px;
	height: 4px;
	margin-top: -1px;
	margin-left: -3px;
}
/*** End UI-combobx ***/

/*** Pads ***/
.pad {
	background-color: #fff;
	border: 1px solid #f2f2f2;
	display: none;
	text-align: left;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 5px 5px 5px #cacaca;
	-moz-box-shadow: 5px 5px 5px #cacaca;
	-ms-box-shadow: 5px 5px 5px #cacaca;
	box-shadow: 5px 5px 5px #cacaca;
	
	position: absolute;
	z-index: 500;
}

.pad.subactions {
	border-color: #b2ca45;
	right: 0;
	min-width: 8em;
	margin-top: -1px;
	padding-top: .4em;
	padding-bottom: .4em;

	-webkit-box-shadow: 2px 2px 2px #dcdcdc;
	-moz-box-shadow: 2px 2px 2px #dcdcdc;
	-ms-box-shadow: 2px 2px 2px #dcdcdc;
	box-shadow: 2px 2px 2px #dcdcdc;
	
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.pad .header {
	font-weight: bold;
}

.pad .group {
	margin-top: .7272em;
	margin-bottom: .72727em;
}

.pad .marged {
	margin-left: .5em;
	margin-right: .5em;
}

.pad .sep {
	border: solid #f2f2f2;
	border-width: 0 0 1px 0;
	line-height: 0;
	height: 0;
}
/*** End Pads ***/

/*** KOL info pad ***/
.kol-holder {
		position: relative;
}

.kol-holder .kol-info {
	width: 30em;
}

.kol-holder .kol-name {
	white-space: nowrap;
}

.kol-info .kol-photo {
	float: left;
	margin-top: .5em;
	margin-left: .909em;
	margin-right: .909em;
}

.kol-info .kol-data {
	overflow: hidden;
}

.kol-info .location {
	font-weight: bold;
}
/*** End KOL info pad ***/

/*** Columns ***/
.grid-inline-box>* {
	display: inline-block;
	vertical-align: top;
	word-wrap: break-word;
}

.grid-float-box>* {
	float: left;
	word-wrap: break-word;
}

.grid-col-2>* {
	width: 50%;
}

.grid-col-3>* {
	width: 33%;
}

.grid-col-4>* {
	width: 25%;
}

.grid-col-5>* {
	width: 20%;
}
/*** End Columns ***/

/*** Alphabet ***/
.libra-alphabet {
	display: inline-block;
}

.alphabet-goto .alphabet-link {
	line-height: 1;
	display: inline-block;
	margin-right: .5em;
	margin-bottom: .25em;
}
/*** End Alphabet ***/

/*** More/Less feature ***/
.f-moreless-progress-wrap img {
	margin-right: .909em;
	vertical-align: middle;
}

.f-moreless-btn-wrap,
.f-moreless-progress-wrap
{
	display: inline-block;
	margin-right: .909em;
}

.f-moreless-state-disabled a {
	color: #d9d9d9;
	cursor: default;
}
/*** End More/Less feature ***/

/*** Bubble ***/
/* #notification-bubble .close {
	top: 50%;
	margin-top: -5px;
} */

.bubble {
	color: #fff;
	/* font-size: .6875em; */
	position: absolute;
	/* margin-top: .7272em; */
	padding: .75em 1em;
	padding-right: 2.6em;

	margin-top: 5px;
	white-space: nowrap;
	z-index: 100;

	-webkit-box-shadow: 2px 2px 2px #6c6c6c;
	-moz-box-shadow: 2px 2px 2px #6c6c6c;
	-ms-box-shadow: 2px 2px 2px #6c6c6c;
	box-shadow: 2px 2px 2px #6c6c6c;
}

.bubble.closeable {
	padding-right: 30px;
}

.bubble .bubble-bg {
	background-color: #000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.bubble .bubble-decor {
	background: url("../img/main-nav-sprite.png") no-repeat -16px -283px;
	display: block;
	position: absolute;
	top: 0;
	right: 10%;
	width: 8px;
	height: 5px;
	margin-top: -5px;
}

.bubble .bubble-bg,
.bubble .bubble-decor {
	opacity: .6;
}

.bubble:hover .bubble-bg,
.bubble:hover .bubble-decor {
	opacity: .67;
}

.bubble .bubble-close {
	background: url("../img/main-nav-sprite.png") no-repeat -16px -272px;
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 10px;
	height: 10px;
	margin-top: -5px;
}

.bubble:hover .bubble-close {
	background-position: 0 -288px;
}
/*** End Bubble ***/