@CHARSET "UTF-8";
@import url("hacks.css");

body {
	color: #333;
	font-size: 62.5%;
	line-height: 2em;
	font-family: Verdana, sans-serif;
	padding: 20px;
	margin: 0;
}

/*** Local styles ***/
#wrapper {
	font-size: 1.1em;
}

#floating-ul-example li {
	margin-right: 1em;
}

ul, ol {
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
}

td {
	vertical-align: baseline;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.header-slider {
	color: blue;
	font-weight: bold;
	font-size: 1.4em;
}

.f-content-slider {
	border: 1px solid red;
}

.f-content-slider-sections-list li {
	line-height: 2em;
}

.f-content-slider-sections-list .active {
	color: #333;
	font-weight: bold;
}

.f-slider-navigation a {
		color: #1093be;
}

.f-slider-navigation a.active {
	color: #333;
}

.u-list.deleteable tr:hover .btn.delete-default i {
	background-image: url("../img/main-nav-sprite.png");
}

.f-checkable-item-checked {
	background-color: #f2f2f2;
}
/*** End Local styles ***/