@CHARSET "UTF-8";
.ui-datepicker {
	padding: 10px;
	border: 1px solid #fff;
	background-color: #fafafa;
	display: inline;

	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;

   -moz-box-shadow: 2px 3px 5px #d6d6d6; 
   -webkit-box-shadow: 2px 3px 5px #d6d6d6; 
   box-shadow: 2px 3px 5px #d6d6d6; 
   display:none;
}

.ui-datepicker-inline {
	background-color: #fafafa;
	border: 1px solid #d6d6d6;
	display: inline-block;
	
	padding: 10px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}


.ui-datepicker a {
	color: #307ebc;
	text-decoration: none;
}

/*** My fixes ***/
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}

.ui-datepicker td span,
.ui-datepicker td a
{
	display: block;
}
/*** End My fixes ***/

.ui-datepicker-header {
	width: 100%;
	/* height: 20px; */
	/* display: table; */
	text-align: center;
	/* vertical-align: middle; */
	margin-bottom: 10px;
}

/* .ui-datepicker-calendar th {
	width: 25px;
} */

/* .ui-datepicker-calendar tr {
	height: 25px;
} */

.ui-datepicker .ui-datepicker-title {

/* 	font-size: 13px;
	line-height: 20px;
	 */
	/* color: #333; */
	/* vertical-align: middle; */
}

.ui-datepicker-prev span {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../img/datepicker-arrows.png) no-repeat 0 -20px;

	text-indent: -9999px;
	float: left;
}

.ui-datepicker-next span {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../img/datepicker-arrows.png) no-repeat 0 0;
	text-indent: -9999px;
	float: right;
}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
	cursor: pointer;
}

.ui-datepicker-calendar {
	clear: both;
}

.ui-datepicker tbody td {
	border: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	/* background-color: #f9f9f9; */
}

.ui-datepicker tbody td:hover {
	background-color: #307ebc;
}

.ui-datepicker tbody td:hover a,
td.ui-datepicker-current-day a
{
	color: #fff;
}

/* TODO: Check current day */
/* .ui-datepicker .ui-datepicker-current-day {
	background-color: #307ebc;
} */

.ui-datepicker-current-day a {
	font-weight: bold;
}

.ui-datepicker .ui-datepicker-calendar thead th {
	text-align: center;
	vertical-align: middle;
	color: #333;
}

/* .ui-datepicker .ui-datepicker-today {
	background-color: #fafafa;
} */

td.ui-datepicker-today a {
	color: #757575;
	font-weight: bold;
}

.ui-datepicker-today:hover {
	background-color: #307ebc;
}

/* .ui-state-disabled, .ui-state-disabled:hover {
	background: none !important;
	border: none !important;
} */

/*		AUTOCOMPLETE 	*/

.ui-autocomplete {
	position: absolute;
	border: 1px solid #f2f2f2;
	display: inline-block;
	padding: 5px 0;
	background-color: #fff;

	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;

	-moz-box-shadow: 2px 3px 5px #d6d6d6; 
	-webkit-box-shadow: 2px 3px 5px #d6d6d6; 
	box-shadow: 2px 3px 5px #d6d6d6; 
}

.ui-autocomplete .ui-menu-item a {
	display: block;
	color: #333;
	cursor: pointer;
	padding: 0 10px;
	line-height: 20px;
}

.ui-autocomplete .ui-state-hover {
	background-color: #f1f1f1;
	color: #ffa339 !important;
}

/*TABS*/
.ui-tabs-nav li {
	z-index: 2;
	margin-right: -2px;

	display: inline-block;
	background-color: #f4f4f4;

	/* font-size: 12px; */

	border: 1px solid #e6e6e6;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;


	background-image: -webkit-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
	background-image: -o-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
	background-image: linear-gradient(bottom, rgb(224,224,224) 0%, rgb(245,245,245) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(224,224,224)),
		color-stop(1, rgb(245,245,245))
	);
}

.ui-tabs .ui-tabs-nav li a {
	color: #757575;
	line-height: 1.5;
	display: block;
	/* padding: 5px 18px 4px 18px; */
	padding: .3636em 1.8181em .2727em;
	text-shadow: #fff 0 1px 0;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav .ui-state-active a {
	color: #fff;
	padding-top: .454545em;
	text-shadow: #90a62d 0 1px 0;
}

.ui-tabs-hide {
	display: none;
}

.ui-tabs-nav .ui-state-active {
	background: #b3cb43;
	border-color: #9cb431;

	background-image: -webkit-linear-gradient(bottom, rgb(165,191,48) 0%, rgb(179,204,68) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(165,191,48) 0%, rgb(179,204,68) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(165,191,48) 0%, rgb(179,204,68) 100%);
	background-image: -o-linear-gradient(bottom, rgb(165,191,48) 0%, rgb(179,204,68) 100%);
	background-image: linear-gradient(bottom, rgb(165,191,48) 0%, rgb(179,204,68) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(165,191,48)),
		color-stop(1, rgb(179,204,68))
	);

	-webkit-box-shadow: 0 0 2px #cfcfcf;
	-moz-box-shadow: 0 0 2px #cfcfcf;
	-ms-box-shadow: 0 0 2px #cfcfcf;
	box-shadow: 0 0 2px #cfcfcf;
}