@CHARSET "UTF-8";

/** Custom Combobox **/
.f-combobox-wrap-outer {
	display: inline-block;
}

.placeholder-text-helper {
	visibility: hidden;
}

.f-combobox-wrap {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	line-height: 1.18181em;
	position: relative;
	min-width: 2em;
	padding: 0.18181em 0.5em;
	padding-right: 16px;
	cursor: pointer;
	white-space: nowrap;
	text-align: left;
}

.f-combobox-wrap>a.f-combobox-button {
	border: none;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-decoration: none;
}

.f-combobox-wrap>a.f-combobox-button:focus {
	outline: 1px solid #fbc37a;
}

.f-combobox-wrap>a.f-combobox-button .ico {
	background: url("../img/main-nav-sprite.png") no-repeat 0 -368px;
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 7px;
	height: 4px;
	margin-top: -1px;
	margin-right: 4px;
}

.f-combobox-wrap>.placeholder-wrap {
	overflow: hidden;
	
	position: absolute;
}

.f-combobox-wrap>.f-combobox-list {
	background-color: #fff;
	border: 1px solid #d9d9d9;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 100%;
	margin-right: -1px;
	z-index: 100;
	
	-webkit-box-shadow: 2px 2px 2px #ccc;
	-moz-box-shadow: 2px 2px 2px #ccc;
	-ms-box-shadow: 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
}

.f-combobox-wrap>.f-combobox-list.left-oriented {
	margin-left: -1px;
}

.f-combobox-wrap>.f-combobox-list>li {
	padding: .25em .5em;
}

.f-combobox-wrap>.f-combobox-list>li.current-selected {
	background-color: #f4f4f4;
	cursor: pointer;
}

.f-combobox-wrap ul {
	list-style: none;
	list-style-position: outside;
}

.f-combobox-wrap ul,
.f-combobox-wrap ul li {
	margin: 0;
	padding: 0;
}
/** End Custom Combobox **/