@CHARSET "UTF-8";

.f-content-slider {
}

.f-content-slider .frame {
}

.f-content-slider-section-helper {
	position: relative;
}

.f-content-slider .section {
	padding-top: 1px;
	padding-bottom: 1px;
}

.f-content-slider .section.animation {
	position: absolute;
	width: 100%;
}

.f-content-slider-btn {
	margin-right: 1em;
}

.f-state-disabled {
}