@CHARSET "UTF-8";

/***ClearFix***/
.f-clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.f-clearfix {
	display: inline-block;
}

/* Holy */
* html .f-clearfix {
	height: 1%;
}

.f-clearfix {
	display: block;
}
/* End Holy */
/***End ClearFix***/

.f-deleteable-target-wrap {
	position: relative;
}

tr.f-deleteable-undo .f-deleteable-undo-container,
.f-deleteable-undo.f-deleteable-undo-container
{
	color: #d25353;
	background-color: #ffd4d4;
}

.f-deleteable-target-wrap .f-deleteable-undo-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	outline: 1px solid #e3a6a6;
}

.f-deleteable-target-wrap .f-deleteable-undo-container p {
	margin: 1em;
}

.f-deleteable-target-wrap .f-deleteable-undo-container .f-deleteable-undo-btn {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.f-deleteable-undo-btn {
	display: inline-block;
	border-bottom: 1px dotted;
	float: right;
	text-decoration: none;
}