@CHARSET "UTF-8";

/*** ClearFix ***/
.clearFix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearFix {
	display: inline-block;
}

/* Holy */
* html .clearFix {
	height: 1%;
}

.clearFix {
	display: block;
}
/* End Holy */
/*** End ClearFix ***/

/*** micro ClearFix ***/
.cfix:before,
.cfix:after
{
	content: "";
	display: table;
}

.cfix:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cfix {
	*zoom: 1;
}
/*** End micro ClearFix ***/