@CHARSET "UTF-8";

/* .btn-default, */
.btnCustom.default,
.btnCustom.default:hover,
.btnCustom.default:active,
.btnCustom.default.t2,
.btnCustom.default.t2:hover,
.btnCustom.default.t2:active,
/* .btnCustom.default.dif,
.btn-default.dif:hover,
.btn-default.dif:active, */
.btn-default.s2,
.custom-tabs .ui-tabs-selected,
.custom-tabs .ui-state-default,
.wbhc .header-color,
.btnCustom.search-like
/* .search-form button */
{
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btnCustom.default {
	background: url("../img/_ie_button_bg.png") repeat-x 0 0 #c1d75c;
}

.btnCustom.default:hover {
	background-image: url("../img/_ie_button_bg_hover.png");
}

.btnCustom.default:active {
	background-image: url("../img/_ie_button_bg_active.png");
}

.btnCustom.default.t2 {
	background-image: url("../img/_ie_button_dif_bg.png");
	background-color: #4883b3;
}

.btnCustom.default.t2:hover {
	background-image: url("../img/_ie_button_dif_bg_hover.png");
}

.btnCustom.default.t2:active {
	background-image: url("../img/_ie_button_dif_bg_active.png");
}

.custom-tabs .ui-state-default {
	background: url("../img/_ie_tab_bg.png") repeat-x 0 0 #e1e1e1;
}

.custom-tabs .ui-tabs-selected {
	background: url("../img/_ie_header_bg.png") repeat-x 0 0 #a5bf30;
}

.wbhc .header-color {
	background: url("../img/_ie_header_bg.png") repeat-x 0 0 #c1d75c;
}

.btn-default.s2 {
	background: url("../img/_ie_button_sp2_bg.png") repeat-x 0 0 #c1d75c;	
}

.btnCustom.search-like {
	background: url("../img/_ie_button_sp2_bg.png") repeat-x 0 0 #c1d75c;	
	background-size: cover;
}
/* .search-form button {
	background: url("../img/_ie_button_sp2_bg.png") repeat-x 0 0 #c1d75c;	
	background-size: cover;
} */