@CHARSET "UTF-8";
@import url("reset.css");

/*** micro ClearFix ***/
.cfix:before,
.cfix:after
{
	content: "";
	display: table;
}

.cfix:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cfix {
	*zoom: 1;
}
/*** End micro ClearFix ***/

html, body {
	min-height: 640px;
  height: 100%;
}

body {
	color: #333;
	background: #fff;
	/* font-size: 11px; */
	font-size: 62.5%;
  line-height: 2em;
  /* line-height: 10px; */
	font-family: Verdana, sans-serif;
	position: relative;
}

body>* {
	font-size: 1.1em;
}

/*** Floating elements ***/
.pipe>* {
	float: left;
}
/*** End Floating elements ***/

a:link,
a:visited
{
	color: #307ebc;
}

a:hover {
	color: #ffa339;
}

a.helper {
	text-decoration: none;
	border-bottom: 1px dotted;
}

#stick-footer {
	min-height: 100%;
	height: 100%;
}

input[type="radio"],
input[type="checkbox"]
{
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: text-bottom;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="submit"]
{
	color: inherit;
	border: 1px solid #d6d6d6;
	font: inherit;
	/* line-height: 1.18181em; */
	margin: 0;
/* 	padding-top: 2px;
	padding-bottom: 2px; */
	padding: 2px .454545em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* #wrapper {
	display: table;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 3.636363em;
} */

h3 {
	color: #245c8a;
	/* font-weight: normal; */
	/* font-size: 14px; */
	/* line-height: 32px; */
	/* line-height: 2.2857; */
	font-size: 1.2727em;
	margin-top: 1.0714em;
	margin-bottom: .3571em;
}

p {
	margin: 1.8181em 0;
	/* margin: .4545em 0; */
}

.clear {
	clear: both;
}

/*** Color decors ***/
.decor {
	position: absolute;
	z-index: -1;
}

#blue {
	background: url(../img/blue.png) no-repeat;
	width: 461px;
	height: 231px;
	top: 0;
	right: 0;
}

#green {
	background: url(../img/green.png) no-repeat;
	width: 361px;
	height: 176px;
	top: 0;
	left: 0;
}

#orange {
	background: url(../img/orange.png) no-repeat;
	width: 560px;
	height: 221px;
	bottom: 0;
	right: 0;
}
/*** End Color decors ***/

#loginForm {
	display: table;
	height: 100%;
	margin: 0 auto;
}

#form {
	display: table-cell;
	padding: 0 113px 3.6363em;
	vertical-align: middle;
}

#login {
	background-color: #e5e5e5;
	position: relative;
	width: 25em;
	padding: 1.3636em 1.8181em;
	/* padding: .909em 1.8181em; */
	/* overflow: hidden; */

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

label {
	display: block;
	font-weight: bold;
}

label.simple {
	display: inline;
	font-weight: normal;
}

label .mark {
	color: #8c0000;
}

.gr {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.input {
	/* border: 1px solid #d6d6d6; */
	/* width: 276px; */
	width: 100%;
	height: 2.2727em;
	/* margin: 10px 0; */
}

form .input {
	margin-top: .4545em;
	margin-bottom: .909em;
}

input[type="submit"] {
	color: #4782b2;
	border: 1px solid #dfdfdf;
	font-weight: bold;
	display: inline-block;
	height: 2.2727em;
	margin-top: .6363em;
	margin-bottom: .7272em;
	padding: 0 1.7272em;
	text-shadow: 1px 1px #fff;
	cursor: pointer;
	
	background-image: -webkit-gradient( linear, left top, left bottom, from( #f3f3f3 ), to( #ddd ) );
	background-image: -webkit-linear-gradient( top, #f3f3f3, #ddd );
	background-image:    -moz-linear-gradient( top, #f3f3f3, #ddd );
	background-image:     -ms-linear-gradient( top, #f3f3f3, #ddd );
	background-image:      -o-linear-gradient( top, #f3f3f3, #ddd );
	background-image:         linear-gradient( top, #f3f3f3, #ddd );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#dddddd' );
	
	-webkit-box-shadow: 0 1px 0 #b5b5b5;
	-moz-box-shadow: 0 1px 0 #b5b5b5;
	-ms-box-shadow: 0 1px 0 #b5b5b5;
	box-shadow: 0 1px 0 #b5b5b5;
}

input[type="submit"]:active {
	-webkit-box-shadow: 0 1px 0 #cacaca;
	-moz-box-shadow: 0 1px 0 #cacaca;
	-ms-box-shadow: 0 1px 0 #cacaca;
	box-shadow: 0 1px 0 #cacaca;
}

#form table {
	width: 100%;
}

#form table td {
	width: 1px;
	text-align: left;
}

#form table td + td {
	width: auto;
	text-align: right;
}

.forgot-area {
	display: none;
}

.forgot-area input[type="checkbox"] {
	margin-right: .4545em;
}

.forgot-area label.simple {
	margin-right: .909em;
}

.forgot-area h3 + p {
	margin-top: 0;
}

#custom-logo {
	position: absolute;
	bottom: 100%;
	right: 0;
}

#eng-logo {
	background: url("../img/openq_icon.png") left 45% no-repeat;
	position: absolute;
	top: 0;
	right: 100%;
	width: 93px;
	height: 112px;
	margin-right: 1.7272em;
}

	/** Footer **/
#footer-wrapper {
	position: relative;
	margin-top: -3.636363em;
	clear: both;
}

#footer-wrapper .bg-solid {
	background: rgb( 230, 230, 230 );
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .64;
	filter: alpha(opacity=64);
	z-index: -1;
}

#footer {
	padding: .5em 0;
}
	
#footer .nav {
	margin-left: 3%;
}

#footer .nav>li {
	border: 0 solid #888;
	border-left-width: 1px;
	line-height: 1.2em;
	padding-left: 1em;
	margin-right: 1em;
}
	
#footer .nav>li:first-child {
	border-left-width: 0;
	padding-left: 0;
}
	
#footer .nav a:link,
#footer .nav a:visited
{
	color: #245c8a;
}

#footer .nav a:hover {
	color: #ffa339;
}

#footer .copyright {
	float: right;
	line-height: 1.2em;
	margin-right: 3%;
}
	/** End Footer **/

/* #main {
	background: url(../img/openq_icon.png) left no-repeat;
	width: 320px;
	padding: 0 113px;
	position: relative;
	
	display: table-cell;
	vertical-align: middle;
} */

/* #wrapper #main .logo {
    float: right;
    margin-bottom: 3px;
} */

/* #wrapper #main #login-forgot,
#login
{
    clear: both;
    width: 280px;
    background: #e5e5e5;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

} */

/* #wrapper #main #login {
    height: 140px;
} */

/* #wrapper #main #login .forgot {
    display: none;
} */

/* #wrapper #main #login-forgot {
    height: 490px;
} */

/* #wrapper #main .label {
    line-height: 10px;
    display: block;
    font-weight: bold;
} */

/* #wrapper #main input[type="submit"] {

    border: 1px solid #e2e2e2;
    display: block;
    height: 29px;
    padding: 0 19px;
    margin: 0 0 10px 0px;
    cursor: pointer;
    color: #4782b2;
    font-weight: bold;
    text-shadow: #fff 0 1px 0;
    float: left;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;


    background-image: linear-gradient(bottom, #D9D9D9 0%, #F2F2F2 100%);
    background-image: -o-linear-gradient(bottom, #D9D9D9 0%, #F2F2F2 100%);
    background-image: -moz-linear-gradient(bottom, #D9D9D9 0%, #F2F2F2 100%);
    background-image: -webkit-linear-gradient(bottom, #D9D9D9 0%, #F2F2F2 100%);
    background-image: -ms-linear-gradient(bottom, #D9D9D9 0%, #F2F2F2 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #D9D9D9),
    color-stop(1, #F2F2F2)
);
    -moz-box-shadow: 0 1px 0 #b5b5b5; Для Firefox
    -webkit-box-shadow: 0 1px 0 #b5b5b5; Для Safari и Chrome
    box-shadow: 0 1px 0 #b5b5b5; Параметры тени
} */

/* #wrapper #main input[type="submit"]:active{
    margin: 1px 0 9px 0;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
} */

/* #wrapper #main .link {
    float: right;
    line-height: 10px;
    padding: 10px 0;
} */

/* #wrapper #main .forgot {
    clear: both;
    margin: 10px 0 0 0;
} */
/* #wrapper #main .link a {
    vertical-align: top;
    color: #307ebc;
    text-decoration: none;
    border-bottom: 1px dotted #307ebc;

} */
/* #wrapper #main .link a:hover {
    border: none;
}
#wrapper #main .forgot .remind {

    margin: 14px 0 0 0;
}

#wrapper #main .forgot .remind .check {

    display: block;
    height: 20px;
    margin: 0 10px 10px 0;
    
}
#wrapper #main .forgot .remind .check input {
    vertical-align: baseline;
    margin: 0;
}
#wrapper #main .forgot .remind .check label {
    vertical-align: baseline;
    margin-right: 10px;
} */

/* #footer {
	background: rgba(225, 225, 225, 0.8);
	display: table;
	position: absolute;
	bottom: 10px;
	height: 20px;
	width: 100%;
	overflow: hidden;
	opacity: 0.8;
	filter: alpha(Opacity=80);
} */

/* #footer .copyright {
    position: absolute;
    right: 3%;
    top: 5px;
}
#footer a {
    color: #245c8a;
}
#footer a:hover {
    text-decoration: none;
}
#footer ul {
    overflow: hidden;
    position: relative;
    left: 3%;
    height: 20px;

    display: table-cell;
    vertical-align: middle;
}
#footer ul li {

    display: inline;
    float: left;
    border-left: 1px solid #959595;
    padding: 0 10px 0 9px;
    margin-left: -1px;
} */