@CHARSET "UTF-8";
@import url("reset.css");
@import url("hacks.css");
@import url("common.css");

html {
	min-height: 100%;
	position: relative;
}

html, body {
	height: 100%;
}

body {
	color: #555;
	background: url("../img/body-bg.png") repeat #f1f1f0;
	font-size: 62.5%;
	line-height: 2em;
	font-family: Verdana, sans-serif;
}

body>* {
	font-size: 1.1em;
}

#stick-footer {
	min-height: 100%;
}

/*** Plugin custom classes ***/
.f-deleteable-undo-btn .vertical-text-helper {
	border-bottom: 1px dotted;
	display: inline-block;
	line-height: 1.2em;
}

.f-deleteable-undo-btn {
	border: none;
}
/*** End Plugin custom classes ***/

/*** Layouts ***/
#wrapper,
#header-wrapper,
#main-nav-wrapper,
#footer-wrapper,
#decorator-wrapper
{
	min-width: 87.272727em;
}

#wrapper,
#header,
#main-nav-container,
#footer,
#decorator
{
	max-width: 120em;
	margin: 0 auto;
}

.main-nav-container {
	margin-left: 3%;
	margin-right: 3%;
}

#logo
{
	margin-left: 3%;
}

#main-nav {
	font-size: 1.0909em;
	float: left;
	/* margin-right: 2em; */
}

#logo {
	padding-top: 5px;
}

#wrapper {
	padding-bottom: 3.636363em;
}

	/** Header **/
#header-wrapper {
	background-image: -webkit-gradient( linear, left top, left bottom, from( #fff ), to( #f7f7f7 ) );
	background-image: -webkit-linear-gradient( top, #fff, #f7f7f7 );
	background-image:    -moz-linear-gradient( top, #fff, #f7f7f7 );
	background-image:     -ms-linear-gradient( top, #fff, #f7f7f7 );
	background-image:      -o-linear-gradient( top, #fff, #f7f7f7 );
	background-image:         linear-gradient( top, #fff, #f7f7f7 );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7' );
}

#header {
	min-height: 70px;
	position: relative;
}

	/** Decoration **/
#decorator-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
}

#decorator {
	height: 70px;
	position: relative;
}

#decor1,
#decor2,
#decor3,
#decor4
{
	position: absolute;
	z-index: 0;
	bottom: 0;
	background: no-repeat 0 0 transparent;
}

#decor1 {
	background-image: url("../img/decor-blue.png");
	top: 0;
	left: 80px;
	width: 448px;
}

#decor2 {
	background-image: url("../img/decor-orange.png");
	top: 0;
	left: 51%;
	width: 585px;
	margin-left: -321px;
}

#decor3 {
	background-image: url("../img/decor-green2.png");
	top: 0;
	right: -100px;
	width: 255px;
}
	/** End Decoration **/

	/** User panel **/
#user-panel {
	line-height: 1.2em;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: .75em 2em .41667em 0;
	z-index: 3; /*fix for header decor*/
}

#user-panel .bg-box.solid {
	background: #fff;
	z-index: -1;
	opacity: .5;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#user-panel .pipe>li {
	position: relative;
	margin-left: .454545em;
	padding-bottom: 2px;
	padding-left: 1.272727em;
}

#user-panel .top-link {
	display: inline-block;
}

#user-panel .top-link .ico {
	background-position: 0 -285px;
	display: inline-block;
	width: 5px;
	height: 3px;
	margin-left: .3em;
	vertical-align: middle;
}

#user-panel .pipe>li:hover .top-link.helper {
	color: #ffa339;
}

#user-panel .pipe>li:hover .top-link .ico {
	background-position: -8px -285px;
}

#user-panel .logout {
	border-bottom: 1px solid;
	text-decoration: none;
}

#user-panel .pad {
	line-height: 1.8181em;
	right: 0;
	min-width: 14em;
	margin-top: 2px;
	white-space: nowrap;
	
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-right-radius: 0
}

#user-panel .pipe>li.active .pad {
	display: block;
}

#user-panel .pad a:link {
	display: block;
	padding-left: .727272em;
	padding-right: .727272em;
	text-decoration: none;
}

#user-panel .pad .marged {
	margin-left: .727272em;
	margin-right: .727272em;
} 

#user-panel .pad a:hover {
	color: #307ebc;
}

#user-panel .pad a:hover,
#user-panel .pad table.full-row-links tr:hover
{
	background-color: #f1f1f1;
}

#user-panel .pad a.as-default,
#user-panel .pad a.as-helper
{
	display: inline;
	padding: 0;
}

#user-panel .pad a.as-default {
	text-decoration: underline;
}

#user-panel .pad a.as-default:hover,
#user-panel .pad a.as-helper:hover
{
	color: #ffa339;
}

#user-panel .pad a.as-default:hover,
#user-panel .pad a.as-helper:hover {
	background: none;
}

#user-panel .pad .hotkey,
#user-panel .pad .hotkey:hover
{
	color: #000;
}

#user-panel .pad .hotkey {
	padding-left: 2em;
	padding-right: .727272em;
}
		/** End User panel **/
	/** End Header **/

	/** Body **/
.g-wrap {
	margin-left: 3%;
	margin-right: 3%;
}

.g-wrap .breadcrumbs {
	margin-bottom: 0;
}

#body,
#side
{
	float: left;
}

.layout-order .layout-order-first {
	margin-left: 3%;
}

.home #body {
	width: 62%;
}

.home #side {
	width: 30%;
}

.default #body {
	width: 70%;
}

.default #side {
	width: 22%;
}

.order-ms #side {
	margin-left: 2%;
}

.order-sm #body {
	margin-left: 27%;
}

.order-sm #side {
	margin-left: -94%;
}

.order-mm #body {
	width: 46%;
}
	
.order-mm #side {
	width: 46%;
	margin-left: 2%;
}
	/** End Body **/

	/** Footer **/
#footer-wrapper {
	background-color: #fafafa;
	border: solid #fff;
	border-width: 1px 0;
	
	margin-top: -3.636363em;
	clear: both;
	
	-webkit-box-shadow: 0 0 3px #cfcfcf;
	-moz-box-shadow: 0 0 3px #cfcfcf;
	-ms-box-shadow: 0 0 3px #cfcfcf;
	box-shadow: 0 0 3px #cfcfcf;
}

#footer {
	padding: .5em 0;
}
	
#footer .nav {
	margin-left: 3%;
}

#footer .nav>li {
	border: 0 solid #888;
	border-left-width: 1px;
	line-height: 1.2em;
	padding-left: 1em;
	margin-right: 1em;
}
	
#footer .nav>li:first-child {
	border-left-width: 0;
	padding-left: 0;
}
	
#footer .nav a:link,
#footer .nav a:visited
{
	color: #245c8a;
}

#footer .nav a:hover {
	color: #ffa339;
}

#footer .copyright {
	float: right;
	line-height: 1.2em;
	margin-right: 3%;
}
	/** End Footer **/
/*** End Layouts ***/

/*** Main navigation ***/
#main-nav-wrapper {
	background-color: #ebebeb;
	padding-top: .8333em;
	clear: both;
}

#main-nav li {
	line-height: 2.5em;
	position: relative;
	height: 2.5em;
}

.main-nav li {
	background-color: #f9f9f9;
	margin: 0 4px 0 0;
	white-space: nowrap;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.main-nav-container li,
.main-nav-container li a:link,
.main-nav-container li a:visited
{
	color: #757575;
}

.main-nav-container li.active,
.main-nav-container li:hover
{
	background-color: #fff;
}

.main-nav-container li.active {
	color: #000;
}

#main-nav-container li.active {
	z-index: 3;
}

.main-nav-container a,
.main-nav-container li>span.container
{
	display: block;
	position: relative;
	padding: 0 1.667em 0 3.667em;
	text-decoration: none;
}

#main-nav-wrapper .nav-decorator {
	background-color: #fff;
	position: relative;
	height: 10px;
	clear: both;
	z-index: 2;

	-webkit-box-shadow: 0 1px 4px #acacac;
	-moz-box-shadow: 0 1px 4px #acacac;
	-ms-box-shadow: 0 1px 4px #acacac;
	box-shadow: 0 1px 4px #acacac;
}

	/** icons **/
#main-nav-container .ico {
	background: url("../img/nav-sprite.png") no-repeat 0 0;
	line-height: 1;
	position: absolute;
	top: 50%;
	left: .8333em;
	width: 20px;
	height: 20px;
	margin-top: -10px;
}
	
#main-nav-container .home .ico {
	background-position: 0 -32px;
}

#main-nav-container .profiles .ico {
	background-position: 0 -64px;
}

#main-nav-container .events .ico {
	background-position: 0 -96px;
}

#main-nav-container .strategy .ico {
	background-position: 0 -128px;
}

#main-nav-container .interactions .ico {
	background-position: 0 -160px;
}

#main-nav-container .search .ico {
	background-position: 0 -192px;
}

#main-nav-container .reports .ico {
	background-position: 0 -224px;
}

#main-nav-container .presentations .ico {
	background-position: 0 -256px;
}

#main-nav-container .forms .ico {
	background-position: 0 -288px;
}

#main-nav-container .mirfs .ico {
	background-position: 0 -320px;
}

#main-nav-container .kolalignment .ico {
	background-position: 0 -352px;
}

#main-nav-container .orgalignment .ico {
	background-position: 0 -384px;
}

#main-nav-container .userrel .ico {
	background-position: 0 -416px;
}
	/** End icons **/
/*** End Main navigation ***/

/*** Search form ***/
.search-form input[type="text"] {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.search-form .search-limiter {
	margin-right: 3em;
}

.btnCustom.search-like {
	background-image: -webkit-gradient( linear, left top, left bottom, from( #f2f2f2 ), to( #d9d9d9 ) );
	background-image: -webkit-linear-gradient( top, #f2f2f2, #d9d9d9 );
	background-image:    -moz-linear-gradient( top, #f2f2f2, #d9d9d9 );
	background-image:     -ms-linear-gradient( top, #f2f2f2, #d9d9d9 );
	background-image:      -o-linear-gradient( top, #f2f2f2, #d9d9d9 );
	background-image:         linear-gradient( top, #f2f2f2, #d9d9d9 );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#d9d9d9' );
	
	border: 1px solid #ccc;
	font-weight: bold;
	line-height: 1.5454em;
	padding: 0 .909em;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	text-shadow: 1px 1px #fff;
}

a.btnCustom.search-like {
	color: #4782b2;
}

.search-form .btnCustom.search-like {
	background-color: #e2e2e2;
	/* border: 1px solid #ccc; */
	position: absolute;
	top: 1px;
	right: 0;
	bottom: 0;
	width: 3em;
	margin-right: 1px;
	padding: 0;
	
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.search-form .btnCustom.search-like>i {
	background-position: 0 -256px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 10px;
	margin-top: -5px;
	margin-left: -8px;
}
/*** End Search form ***/

.marged table.elements-to-row .last {
	padding-right: 0;
}

.filters .filter-input {
	padding-left: .5454em;
	padding-right: .5454em;
}

.f-combobox-wrap {
	padding-top: 2px;
	padding-bottom: 2px;
}

.f-combobox-wrap.show-filter {
	min-width: 3em;
}

.tabs-wrapper .filters .default-table-first-col {
	padding-left: 1.8181em;
}

.tabs-wrapper .wi-gen {
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-top-left-radius: 0;
}

.widgets-container .u-list {
	font-size: .909em;
}

.widgets-container .u-list tbody tr:hover {
	background-color: transparent;
}

.widgets-container .u-list tbody tr:nth-child(odd):hover {
	background-color: #f2f2f2;
}

/* .widgets-container .u-list tbody tr.odd:hover {
	background-color: #f2f2f2;
} */

.widgets-container .wi-gen .marged {
	margin-left: .909em;
	margin-right: .909em;
}

.widgets-container .u-list th,
.widgets-container .u-list td
{
	padding-top: .2em;
	padding-bottom: .2em;
}

.u-list.deleteable tr:hover .btnCustom.delete-default i {
	background-image: url("../img/main-nav-sprite.png");
}

.ul-list input[type="checkbox"] {
	margin-left: .4545em;
	margin-right: .4545em;
}

input[type="checkbox"].rm {
	margin-right: .909em;
}

.libra-list-letter {
	color: #c4c4c4;
	font-weight: bold;
}

.ul-list.libra-list .libra-list-letter {
	border: none;
}

.libra-list .libra-letter {
	display: inline-block;
}

.libra-list .libra-list-letter>* {
	font-size: 1.2727em;
	padding-top: .42857em;
	padding-bottom: .42857em;
}

.ul-list.nav>li {
	/* border-bottom-color: transparent; */
	padding-top: .3636em;
	padding-bottom: .3636em;
}

/* .ul-list.nav>li:first-child {
	border-color: transparent;
} */

/* .ul-list.nav li.add-item {
	border-bottom-color: #e7e7e7;
} */

.ul-list.nav .add-item .btnCustom.add {
	display: block;
	margin-left: .4545em;
}

.ul-list.nav .add-item table td {
	vertical-align: middle;
}

.ul-list.nav .ui-sortable-helper {
	background-color: #fafafa;
	border-width: 1px 0;
	-webkit-box-shadow: 2px 2px 2px #ccc;
	-moz-box-shadow: 2px 2px 2px #ccc;
	-ms-box-shadow: 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
}

.ul-list.nav a.empty {
	color: #999999;
}

.ul-list.nav a.empty:hover {
	color: #ffa339;
}

.ul-list.nav.paded>li {
	padding-left: 20px;
}

.ul-list.nav .minimize {
	position: relative;
	text-decoration: none;
}

.ul-list.nav .minimize .ico {
	background-position: -16px -288px;
	position: absolute;
	top: 50%;
	left: -18px;
	height: 4px;
	width: 7px;
	margin-top: -2px;
}

.ul-list.nav .minimize.state-minimized .ico {
	background-position: -24px -288px;
	left: -16px;
	height: 7px;
	width: 4px;
	margin-top: -4px;
}

.nav .active {
	font-weight: bold;
}

.nav .sub {
	margin-left: .909em;
}

.breadcrumbs {
	color: #757575;
	line-height: 1;
	margin-bottom: 10px;
}

.breadcrumbs .active {
	font-weight: bold;
}

.ul-list.selectable tbody tr:hover,
.ul-list.selectable tr.f-checkable-item-checked
{
	background-color: #f2f2f2;
}

.ul-list.selectable tr.libra-list-letter:hover {
	background-color: transparent;
}

.u-list .kol-holder,
.ul-list .kol-holder
{
	display: inline-block;
	/* display: inline; */
	vertical-align: top;
}

.kol-holder .pad.kol-info {
	top: 0;
	left: 100%;
	margin-left: .4545em;
}

/* .wi-gen .u-panel-wrap {
	padding-left: 1.8181em;
	padding-right: 1.8181em;
} */

.wi-gen .u-panel {
/* 	padding-top: .6363em;
	padding-bottom: .6363em; */
	padding: .6363em 1.8181em;
}

.wi-gen-sep {
	border-bottom: 1px solid #ccc;
	height: 0;
	margin-top: 1.3181em;
	margin-bottom: 1.3181em;
}

.f-content-slider.state-full-view .wi-gen-sep {
	display: none;
}

/* .block-actions used for buttons above .wi-gen with different "new" actions */
.block-actions .btnCustom {
	position: relative;
	top: -.4545em;
}

.state .number {
	font-weight: bold;
}

.state + .block-btn-wrap {
	margin-left: 1em;
}

.screen-overlay.some {
	background-color: red;
}

.photo-wrap {
	border: 1px solid #d9d9d9;
	display: inline-block;
	padding: 4px;
}

/*** B-card ***/
.wi-gen.b-card {
	/* position: relative; */
}

.b-card .photo-wrap {
	width: 140px;
	margin-right: 1.818181em;
	margin-top: 0.727272em;
	float: left;
}

.b-card .photo-wrap img {
	display: block;
	max-width: 100%;
	height: auto;
}

.b-card .n-t-f-info {
	overflow: hidden;
}

.b-card.conc .photo-wrap {
	width: 80px;
	margin-top: -2.7272em;
}

.b-card.conc h1.header.default {
	margin-left: 6.875em;
}

.b-card .b-c-minimize {
	position: absolute;
	right: 0;
	top: 0;
}

.b-card .b-c-minimize i {
	border: 1px solid #fff;
	border-width: 0 0 1px 1px;
	background-position: 0 -624px;
	display: block;
	width: 15px;
	height: 15px;
	-webkit-border-radius: 0 5px 0 5px;
	-moz-border-radius: 0 5px 0 5px;
	border-radius: 0 5px 0 5px;
}

.b-card .b-c-minimize.state-minimized i {
	background-position: 0 -608px;
}

.b-card h2 {
	color: #245c8a;
	font-weight: bold;
}

/* .b-card .default.header {
	border: none;
} */ 

.b-card dl {
	display: table-row;
}

.b-card dl dt,
.b-card dl dd
{
	display: table-cell;
}

.b-card dl dt {
	padding-right: .909em;
	padding-top: .454545em;
	padding-bottom: .454545em;
}

.b-card .block-features a {
	line-height: 1;
	display: inline-block;
	margin-left: .909em;
}

.b-card .block-features a i {
	display: inline-block;
	width: 22px;
	height: 19px;
}

.b-card .block-features .vCard i {
		background-position: 0 -400px;
}

.b-card .block-features .avail i {
		background-position: 0 -528px;
}

.b-card .block-features .print i {
		background-position: 0 -464px;
}

.b-card .block-features .alert i {
		background-position: 0 -496px;
}

.b-card .block-features .key-contact i {
		background-position: 0 -432px;
}
/*** End B-card ***/

table.attrib-list tr>td:first-child {
	color: #245c8a;
	font-weight: bold;
	width: 15%;
	padding-right: .909em;
}

table.attrib-list td {
	padding-top: .4545em;
	padding-bottom: .4545em;
	vertical-align: top;
}

/*** Autosuggest field ***/
ul.as-selections {
	border-color: #ccc;
	line-height: 1.18181em;
	padding: 2px .4545em;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

ul.as-selections li {
	margin-top: 0;
	margin-bottom: 0;
}

ul.as-selections li.as-original {
	padding-top: 3px;
	padding-bottom: 3px;
}

ul.as-selections li.as-original input {
	font: inherit;
	height: auto;
	padding: 0;
}

ul.as-selections li.as-selection-item {
	font: inherit;
	padding-left: .7272em;
	padding-right: .4545em;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

ul.as-selections li.as-selection-item a.as-close {
	font: inherit;
	margin: 0;
	margin-left: .3636em;
}

ul.as-list {
	font: inherit;
	margin: 0;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	-webkit-box-shadow: 2px 2px 5px #ccc;
	-moz-box-shadow: 2px 2px 5px #ccc;
	-ms-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
}

li.as-result-item {
	padding: .2727em .909em;
	border-left-color: #ddd;
	border-right-color: #ddd;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
/*** End Autosuggest field ***/

.toggle-view-content-slider {
	display: block;
}

.f-content-slider-section-link.active {
	color: #555;
	font-weight: bold;
	cursor: default;
	text-decoration: none;
}

.f-number-control-holder .f-number-control-button {
	border: none;
}

.f-number-control-holder .f-number-control-button i {
	border: none;
	background: url("../img/main-nav-sprite.png") no-repeat 0 -368px;
	width: 7px;
	height: 4px;
	margin-top: -2px;
	margin-left: -5px;
}

.f-number-control-holder .f-number-control-button.up i {
	background-position: -9px -368px;
	margin-top: 0;
}

/*** Forms ***/
label {
	/* font-weight: bold; */
	display: block;
}

label.simple {
	display: inline;
}

label.block {
	display: inline-block;
	margin-right: .909em;
	width: 15em;
}
/*** End Forms ***/

.inner-3 {
	width: 75%;
}

.create-button-panel {
	white-space: nowrap;
}

.create-button-panel .wi-gen {
	margin: 0;
	padding-top: .4545em;
	padding-bottom: .4545em;
}

.create-button-panel.elements-to-row td.last {
	padding-right: 0;
}

.create-button-panel .block-features {
	top: 0;
}

.u-panel b {
	font-weight: bold;
}

.utility-panel.fixed {
	background-color: #fff;
	position: fixed;
	top: 0;
	margin-top: 0;
	z-index: 100;

	-webkit-box-shadow: 0 2px 2px #cfcfcf;
	-moz-box-shadow: 0 2px 2px #cfcfcf;
	-ms-box-shadow: 0 2px 2px #cfcfcf;
	box-shadow: 0 2px 2px #cfcfcf;
}

.u-panel .elements-to-row td {
	padding-right: .909em;
}

.u-panel .elements-to-row td.last {
	padding-right: 0;
}

.iblock {
	display: inline-block;
}

/*** Events calendar ***/
#events_initial_calendar .calendars {
	margin: 1.8181em auto;
}

#events_initial_calendar .calendars .ui-datepicker {
	background: none;
	border: none;
	height: 19.2727em;
	padding: 0;
}

#events_initial_calendar .calendars .ui-datepicker td,
#events_initial_calendar .calendars .ui-datepicker th
{
	padding: 1px .3em;
	text-align: center;
}

#events_initial_calendar .calendars .ui-datepicker td {
	border: none;
}

#events_initial_calendar .calendars .ui-datepicker td:hover {
	background: none;
}

#events_initial_calendar .calendars .ui-datepicker th {
	font-weight: normal;
	padding-top: .7em;
	padding-bottom: .7em;
}

#events_initial_calendar .calendars .ui-datepicker .ui-datepicker-header {
	background: none;
	border: none;
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.8em;
	margin: 0;
	padding-top: .2em;
	padding-bottom: .2em;
}

#events_initial_calendar .calendars .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	margin-left: 2.5%;
	padding-left: .3em;
	text-align: left;
}

#events_initial_calendar .calendars .ui-datepicker .ui-datepicker-group-middle .ui-datepicker-header {
	font-size: 1.5em;
}

#events_initial_calendar .calendars .ui-datepicker-multi-3 .ui-datepicker-group {
	background-color: #f9f9f9;
	border: 1px solid #e2e2e2;
	font-size: .909em;
	position: absolute;
	width: 30%;
	min-height: 19.3em;
}

#events_initial_calendar .calendars .ui-datepicker-multi-3 .ui-datepicker-group-first {
	left: 0;

	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}

#events_initial_calendar .calendars .ui-datepicker-multi-3 .ui-datepicker-group-middle {
	font-size: 1.0909em;
	top: -.909em;
	left: 30%;
	width: 40%;
	min-height: 18.58333em;
	z-index: 5;

	background-image: -webkit-gradient( linear, left top, left bottom, from( #fafafa ), to( #e8e8e8 ) );
	background-image: -webkit-linear-gradient( top, #fafafa, #e8e8e8 );
	background-image:    -moz-linear-gradient( top, #fafafa, #e8e8e8 );
	background-image:     -ms-linear-gradient( top, #fafafa, #e8e8e8 );
	background-image:      -o-linear-gradient( top, #fafafa, #e8e8e8 );
	background-image:         linear-gradient( top, #fafafa, #e8e8e8 );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#e8e8e8' );
	
	-webkit-box-shadow: 0 3px 2px #cfcfcf;
	-moz-box-shadow: 0 3px 2px #cfcfcf;
	-ms-box-shadow: 0 3px 2px #cfcfcf;
	box-shadow: 0 3px 2px #cfcfcf;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#events_initial_calendar .calendars .ui-datepicker-multi-3 .ui-datepicker-group-last {
	right: 0;

	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

#events_initial_calendar .calendars .ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
#events_initial_calendar .calendars .ui-datepicker .ui-datepicker-header .ui-datepicker-next
{
	display: none;
}

#events_initial_calendar .calendars .ui-datepicker td .ui-state-default {
	line-height: 1.8em;
	width: 1.8em;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#events_initial_calendar .calendars .ui-datepicker .ui-datepicker-today .ui-state-default {
	border: 1px solid;
}

#events_initial_calendar .calendars .ui-datepicker .event-box-default .ui-state-default {
	border: none;
	color: #fff;
	cursor: pointer;
	
	-webkit-box-shadow: 0 1px 0 #cfcfcf, 0 4px 4px rgba( 255, 255, 255, .4) inset;
	-moz-box-shadow: 0 1px 0 #cfcfcf, 0 4px 4px rgba( 255, 255, 255, .4) inset;
	-ms-box-shadow: 0 1px 0 #cfcfcf, 0 4px 4px rgba( 255, 255, 255, .4) inset;
	box-shadow: 0 1px 0 #cfcfcf, 0 4px 4px rgba( 255, 255, 255, .4) inset;
}

#events_initial_calendar .calendars .ui-datepicker .event-multiple-events .ui-state-default,
.multiple-events-indicator 
{
	background: url("../img/multiple-events-bg2.png") no-repeat 50% 50% #d68300;
}

a#nextMonth,
a#prevMonth
{
	background-color: #adc63a;
	border: 1px solid #a5bf30;
	display: block;
	position: absolute;
	top: 50%;
	width: 18px;
	height: 58px;
	margin-top: -30px;
	/* text-indent: -10000em; */
	
	background-image: -webkit-gradient( linear, left top, left bottom, from( #a5bf30 ), to( #b4cc44 ) );
	background-image: -webkit-linear-gradient( top, #a5bf30, #b4cc44 );
	background-image:    -moz-linear-gradient( top, #a5bf30, #b4cc44 );
	background-image:     -ms-linear-gradient( top, #a5bf30, #b4cc44 );
	background-image:      -o-linear-gradient( top, #a5bf30, #b4cc44 );
	background-image:         linear-gradient( top, #a5bf30, #b4cc44 );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5bf30', endColorstr='#b4cc44' );
}

a#nextMonth span,
a#prevMonth span
{
	/* text-indent: -10000em; */
	position: absolute;
	left: -10000em;
}

a#nextMonth {
	right: -1px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

a#nextMonth i,
a#prevMonth i
{
	background-position: -16px -832px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 8px;
	height: 14px;
	margin-top: -7px;
	margin-left: -4px;
}

a#prevMonth i {
	background-position: 0 -832px;
}

a#prevMonth {
	left: -1px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.calendars .ohs-pad-wrap {
	width: 1.8em;
	margin: 0 auto;
}
/*** End Events calendar ***/

.pad.events-pad {
	line-height: 1.2;
}

.pad.events-pad a:link {
	color: #307ebc;
}

.pad.events-pad a:hover {
	color: #ffa339;
}

.events-pad .events-list {
	display: table;
	min-width: 20em;
	max-width: 30em;
	width: 100%;
}

.events-pad .events-list>li {
	display: table-row;
}

.events-pad .events-list>li>div {
	display: table-cell;
	padding-top: .3636em;
	padding-bottom: .3636em;
}

.ul-list.events-list>li {
	position: relative;
	padding-left: .909em;
}

.events-pad .events-list .event-time {
	text-align: right;
	white-space: nowrap;
}

.events-pad .events-list .event-body a {
	display: inline-block;
	position: relative;
	margin-left: .4545em;
	padding-left: .7272em;
}

.events-list .list-ico {
	position: absolute;
	top: .909em;
	bottom: .4545em;
	left: 0;
	width: 2px;
}

.date-indicator {
	color: #fff;
	background-color: #b5d16e;
	display: inline-block;
	width: 1.8em;
	text-align: center;
	
	background-image: -webkit-gradient( linear, left top, left bottom, from( #c5db81 ), to( #94bc47 ) );
	background-image: -webkit-linear-gradient( top, #c5db81, #94bc47 );
	background-image:    -moz-linear-gradient( top, #c5db81, #94bc47 );
	background-image:     -ms-linear-gradient( top, #c5db81, #94bc47 );
	background-image:      -o-linear-gradient( top, #c5db81, #94bc47 );
	background-image:         linear-gradient( top, #c5db81, #94bc47 );
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5db81', endColorstr='#94bc47' );
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.indicator {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 2px;
}

.legend .indicator {
	display: inline-block;
	position: static;
	width: 10px;
	height: 10px;
	margin-right: .909em;
}

h3.test-header-change {
	background: #f7f7f7;
	border: none;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #fff;
	margin: 0;
	padding: .5em;
	padding-left: 2em;
}

h3.test-header-change a {
	color: #555;
	font-weight: normal;
	font-size: 1.0909em;
	text-decoration: none;
}

table .date-col {
	width: 3em;
}

.nav-space-wrap {
	position: relative;
	/* padding-right: 2em; */
	padding-right: 40px;
}

.nav-space-wrap .outer-helper-1 {
	overflow: hidden;
}

.space-button {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	/* width: 2em; */
	width: 22px;
}

.space-button .menu-link {
	display: block;
	background-color: #fcfcfc;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 2em;
	padding: 0;
	
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.space-button .menu-link i {
	background-position: 0 -848px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 11px;
	height: 6px;
	margin-top: -2px;
	margin-left: -5px;
}

.space-button.active .menu-link {
	background-color: #fff;
	z-index: 3;
	
	-webkit-box-shadow: 2px 2px 2px #ccc;
	-moz-box-shadow: 2px 2px 2px #ccc;
	-ms-box-shadow: 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
}

.space-button .space-menu {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 0 1em;
	z-index: 100;
	
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;

	-webkit-box-shadow: 2px 2px 2px #ccc;
	-moz-box-shadow: 2px 2px 2px #ccc;
	-ms-box-shadow: 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
}

.space-button.active .space-menu {
	display: block;
}

.space-button .space-menu a {
	padding-right: .8181em;
}

.space-button .space-menu ul>li {
	border-top: 1px solid #e7e7e7;
	padding-top: .4545em;
	padding-bottom: .4545em;
}

.space-button .space-menu ul>li:first-child {
	/* border-top-color: transparent; */
	border-top: none;
}

.f-moreless-container .f-moreless-more {
	margin-left: 1.8181em;
}

.progress-wrap img {
	margin-right: .4545em;
	vertical-align: middle;
}

.ul-list .select-all-link {
	font-weight: normal;
}

.bubble {
	margin-top: 8px;
	padding-top: .2727em;
	padding-bottom: .2727em;
}

/*** Activity section ***/
#activity_select {
	/* margin-bottom: 20px; */
	float: left;
}

#activity_select li {
	position: relative;
}

#activity_select ul.sub-select {
	position: absolute;
	top: 0;
	left: 100%;
}

.select-grabber {
	cursor: default;
}

.select-grabber li {
	background-color: #fff;
	border: 1px solid #ccc;
	border-top-width: 0;
	padding: .3636em 1em;
	padding-right: 2em;
}

.select-grabber li:first-child {
	border-top-width: 1px;
}

.select-grabber ul.sub-select {
	width: 15em;
	margin-top: -1px;
	cursor: pointer;
}

.select-grabber li:hover {
 background-color: #cceeff;
}

.select-grabber .sub-select li.aS-helper-selected {
	background-color: #eee;
	cursor: default;
}

.select-grabber ul.sub-select {
	display: none;
}

.select-grabber li:hover ul.sub-select {
	display: block;
}

.select-grabber li>i {
	background: url("../img/main-nav-sprite.png") no-repeat -16px -368px;
	display: block;
	position: absolute;
	top: 50%;
	right: .5em;
	width: 12px;
	height: 12px;
	margin-top: -6px;
}
/*** End Activity section ***/

.default-content-slider .header-specific-wrap {
	margin-top: 0;
}

.default-content-slider.state-full-view .header-specific-wrap {
	margin-top: 1.2727em;
}