.THIS .search_button {
    margin-top:1.4rem
}

.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}

.THIS .buttonPanel{
    display: inline-flex !important;
    width: 100%;
}

.THIS .sortBtn{
    line-height: 0;
}

.THIS .addBtn{
    color: green;
}

.THIS .removeBtn{
    color: red;
}

/*DCP-47684*/
.THIS .highlight {
    background: yellow;
}
