.selection-msg{
    margin-bottom:20px;
}
.slds-table_header-fixed_container.slds-scrollable_x{
    height:100px;
}
.slds-table tbody tr{
    cursor: pointer;
}
.table-wrap{
    height: 100px;
    overflow-y: auto;
}
.td-trunc{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}
.THIS .slds-spinner_container  {
    background-color: rgba(136, 136, 136, 0.1);
    margin-top: 220px;
    margin-bottom: 200px; 
}