@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Thin.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Thin.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-ThinItalic.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-ThinItalic.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Light.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Light.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-LightItalic.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-LightItalic.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Regular.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Regular.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Italic.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Italic.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-Bold.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-Bold.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/SalesforceSans-BoldItalic.woff2?orgId=00D1N000002Dojm") format("woff2"), url("../fonts/SalesforceSans-BoldItalic.woff?orgId=00D1N000002Dojm") format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'lightning-icon';
  src: url("../fonts/iconfonts/lightning-icon.eot?orgId=00D1N000002Dojm&lhtlpl");
  src: url("../fonts/iconfonts/lightning-icon.eot?orgId=00D1N000002Dojm&lhtlpl#iefix") format("embedded-opentype"), url("../fonts/iconfonts/lightning-icon.ttf?orgId=00D1N000002Dojm&lhtlpl") format("truetype"), url("../fonts/iconfonts/lightning-icon.woff?orgId=00D1N000002Dojm&lhtlpl") format("woff"), url("../fonts/iconfonts/lightning-icon.svg?orgId=00D1N000002Dojm&lhtlpl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^=icon-], [class*=icon-] {
  font-family: 'lightning-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.entitlement-root-container {
  font-family: "Salesforce Sans", arial, sans-serif !important;
}

.entitlement-root-container .svmx-tab-bar .svmx-tab-bar-strip {
  border-left: none;
  border-right: none;
  border-top: 1px solid #dddbda;
  background: transparent;
  position: relative;
  top: 0;
}

.entitlement-root-container .svmx-tab-bar .svmx-panel-body {
  border-left: none;
  border-right: none;
  border-top: 1px solid #dddbda;
  background: transparent;
}

.entitlement-root-container .svmx-tab-bar .svmx-tab {
  border: none;
  height: 40px;
  padding: 8px 12px;
  border-bottom: none !important;
}

.entitlement-root-container .svmx-tab-bar .svmx-tab .svmx-tab-inner {
  color: #3e3e3c;
  font-family: "Salesforce Sans", arial, sans-serif;
  font-size: 13px;
}

.entitlement-root-container .svmx-tab-bar .svmx-tab:hover:after {
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: .125rem;
  background-color: #007add;
}

.entitlement-root-container .svmx-tab-bar .svmx-tab-active {
  background: transparent;
  font-weight: 700;
  font-size: 13px;
  color: #080707;
}

.entitlement-root-container .svmx-tab-bar .svmx-tab-active .svmx-tab-inner {
  color: #080707;
  font-family: "Salesforce Sans", arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.entitlement-root-container .svmx-tab-bar .svmx-tab-active:after {
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  position: absolute;
  height: .1875rem;
  background-color: #1589ee;
}

.entitlement-root-container .svmx-btn {
  border-radius: .25rem;
  line-height: 1.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  border: 1px solid #dddbda;
  background-color: #fff;
  border-color: #0070d2;
}

.entitlement-root-container .svmx-btn .svmx-btn-inner {
  color: #0070d2;
  font-weight: 400;
  font-family: "Salesforce Sans", arial, sans-serif;
}

.entitlement-root-container .svmx-btn.svmx-btn-over {
  background-color: #f4f6f9;
}

.entitlement-root-container .svmx-btn.svmx-btn-focus {
  outline: 0;
  box-shadow: 0 0 3px #0070d2;
  background-color: #f4f6f9;
}

.entitlement-root-container .svmx-btn.svmx-btn-disabled {
  border-color: #dddbda !important;
  color: #dddbda;
  background-color: #fff;
}

.entitlement-root-container .svmx-btn.svmx-btn-disabled .svmx-btn-inner {
  color: #dddbda;
}

.entitlement-root-container .svmx-btn.svmx-btn-icon {
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 4px;
}

.entitlement-root-container .svmx-btn.svmx-btn-icon a {
  width: 24px;
  height: 24px;
}

.entitlement-root-container .svmx-btn.svmx-btn-icon .svmx-ent-help-icon {
  background-color: #54698d;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.entitlement-root-container .svmx-btn.svmx-btn-icon .svmx-ent-help-icon:before {
  content: "\e912";
  font-family: 'lightning-icon';
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.entitlement-root-container .svmx-form-item .svmx-form-item-body {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entitlement-root-container .svmx-form-item-label {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  display: inline-block;
  color: #3e3e3c;
  font-size: .75rem;
  padding-right: .5rem;
  padding-top: .25rem;
  margin-bottom: .125rem;
  font-family: "Salesforce Sans", arial, sans-serif !important;
}

.entitlement-root-container textarea.svmx-form-text {
  background-color: #fff;
  border: 1px solid #dddbda;
  border-radius: .25rem;
  transition: border .1s linear, background-color .1s linear;
  -webkit-appearance: none;
  resize: vertical;
  padding: .5rem .75rem;
  margin: 2px;
  width: calc(100% - 4px) !important;
}

.entitlement-root-container textarea.svmx-form-focus {
  outline: 0;
  border-color: #1589ee;
  background-color: #fff;
  box-shadow: 0 0 3px #0070d2;
}

.entitlement-root-container .svmx-grid-radioheader {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: 1px solid #dddbda;
  border-radius: 50%;
  background: #fff;
  transition: border .1s linear, background-color .1s linear;
}

.entitlement-root-container .svmx-grid-radioheader-selected:after {
  width: 8px;
  height: 8px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  background: #0070d2;
}

.entitlement-root-container .svmx-form-radio {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: 1px solid #dddbda;
  border-radius: 50%;
  background: #fff;
  transition: border .1s linear, background-color .1s linear;
}

.entitlement-root-container .svmx-form-radio.svmx-form-cb-focus {
  border-color: #1589ee;
  box-shadow: 0 0 3px #0070d2;
}

.entitlement-root-container .svmx-form-radio-group .svmx-form-cb-checked .svmx-form-item-body:before {
  width: 8px;
  height: 8px;
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  background: #0070d2;
  z-index: 1;
  pointer-events: none;
}

.entitlement-root-container .svmx-form-checkbox {
  user-select: text;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: 1px solid #dddbda;
  border-radius: .125rem;
  background: #fff;
  transition: border .1s linear, background-color .1s linear;
}

.entitlement-root-container .svmx-form-checkbox.svmx-form-cb-focus {
  border-color: #1589ee;
  box-shadow: 0 0 3px #0070d2;
}

.entitlement-root-container .svmx-form-check-group .svmx-form-cb-checked .svmx-form-cb-wrap:before {
  display: block;
  content: "";
  height: 4px;
  width: 8px;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  border-bottom: 2px solid #0070d2;
  border-left: 2px solid #0070d2;
  z-index: 1;
  box-sizing: border-box;
  pointer-events: none;
}

.entitlement-root-container .svmx-panel-body {
  border-color: transparent;
}

.entitlement-root-container .svmx-panel-body .svmx-ent-headerToolBar {
  padding: 15px;
  border-bottom: 1px solid #dddbda;
  border-radius: 4px;
  background: #f3f2f2;
  background-clip: padding-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dddbda;
}

.entitlement-root-container .svmx-panel-body .svmx-ent-headerToolBar .svmx-ent-title {
  font-family: "Salesforce Sans", arial, sans-serif;
  line-height: 1.5;
  color: #080707;
  font-size: 13px;
  font-weight: 400;
}

.entitlement-root-container .svmx-panel-body .svmx-ent-headerToolBar .svmx-ent-WOName {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #080707;
  font-family: "Salesforce Sans", arial, sans-serif;
}

.entitlement-root-container .svmx-panel-body .svmx-ent-headerToolBar .svmx-ent-WOAccount, .entitlement-root-container .svmx-panel-body .svmx-ent-headerToolBar .svmx-ent-WOContact {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #080707;
  font-family: "Salesforce Sans", arial, sans-serif;
}

.entitlement-root-container .svmx-panel-body .svmx-ent-headerToolBar .svmx-panel-body {
  background: #f3f2f2;
}

.entitlement-root-container .svmx-panel-body .svmx-ent-headerToolBar .svmx-panel-body .svmx-box-inner {
  width: 100% !important;
}

.entitlement-root-container .svmx-panel-body .svmx-ent-headerToolBar .svmx-panel-body .svmx-box-inner > div {
  width: 100% !important;
}

.entitlement-root-container .svmx-grid {
  border-collapse: separate;
  border-top: 1px solid #dddbda;
}

.entitlement-root-container .svmx-grid .svmx-grid-header-ct {
  background: transparent;
}

.entitlement-root-container .svmx-grid .svmx-column-header {
  background-color: #fafaf9;
  border-right-width: 0px !important;
}

.entitlement-root-container .svmx-grid .svmx-column-header .svmx-column-header-inner {
  border-right-width: 0px;
}

.entitlement-root-container .svmx-grid .svmx-column-header .svmx-column-header-over {
  background: transparent;
  box-shadow: inset -0.25rem 0 0 #dddbda;
}

.entitlement-root-container .svmx-grid .svmx-column-header .svmx-column-header-trigger {
  background: transparent;
  right: 5px;
}

.entitlement-root-container .svmx-grid .svmx-column-header .svmx-column-header-trigger:before {
  content: "\e90a";
  font-family: 'lightning-icon';
  font-size: 12px;
  line-height: 30px;
  color: #0070d2;
}

.entitlement-root-container .svmx-grid .svmx-column-header-text {
  color: #514f4d;
  font-family: "Salesforce Sans", arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entitlement-root-container .svmx-grid .svmx-grid-row .svmx-grid-cell {
  border-right-width: 0px !important;
  border-bottom: 1px solid #dddbda;
}

.entitlement-root-container .svmx-grid .svmx-grid-row .svmx-grid-cell .svmx-grid-cell-inner {
  font-family: "Salesforce Sans", arial, sans-serif;
  color: #080707;
  line-height: 1.5;
  font-size: 13px;
  padding: 5px;
}

.entitlement-root-container .svmx-grid .svmx-grid-row .svmx-grid-cell .svmx-grid-cell-inner a {
  font-family: "Salesforce Sans", arial, sans-serif;
  color: #006dcc;
  text-decoration: none;
}

.entitlement-root-container .svmx-grid .svmx-grid-row .svmx-grid-cell .svmx-grid-cell-inner a:hover {
  text-decoration: underline;
}

.entitlement-root-container .svmx-grid .svmx-grid-row-selected .svmx-grid-cell {
  background-color: #ecebea !important;
}

.entitlement-root-container .svmx-toolbar {
  background: transparent;
  border: transparent;
}

.entitlement-root-container.svmx-window {
  font-family: "Salesforce Sans", arial, sans-serif;
  padding: 0;
  overflow: visible;
  background-color: #ffffff;
}

.entitlement-root-container.svmx-window .svmx-window-header {
  overflow: visible;
  background: #ffffff;
  border: none;
  padding: 1rem;
  border-bottom: 2px solid #dddbda !important;
  border-radius: 4px 4px 0 0;
}

.entitlement-root-container.svmx-window .svmx-window-header > div, .entitlement-root-container.svmx-window .svmx-window-header .svmx-box-inner {
  overflow: visible;
}

.entitlement-root-container.svmx-window .svmx-window-header .svmx-window-header-text {
  color: #3e3e3c;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  font-family: "Salesforce Sans", arial, sans-serif;
}

.entitlement-root-container.svmx-window .svmx-window-header .svmx-tool.svmx-box-item {
  position: absolute;
  top: -40px !important;
  height: 24px !important;
  width: 24px !important;
}

.entitlement-root-container.svmx-window .svmx-window-header .svmx-tool.svmx-box-item:before {
  content: "\e909";
  font-family: 'lightning-icon';
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.entitlement-root-container.svmx-window .svmx-window-header .svmx-tool.svmx-box-item img {
  width: 24px;
  height: 24px;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.entitlement-root-container.svmx-window .svmx-window-body {
  border-radius: 0 0 4px 4px;
}

.entitlement-root-container.svmx-window .svmx-window-body > .svmx-toolbar {
  width: calc(100% + 4px) !important;
  border-width: 2px 0 0 0 !important;
  background: #fafaf9;
  border-top: 2px solid #dddbda;
  border-radius: 0 0 4px 4px;
  padding: 12px 16px;
  z-index: 1;
}

.entitlement-root-container .svmx-mask {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.75);
}

.entitlement-root-container .icon-approval:before {
  content: "\e900";
}

.entitlement-root-container .icon-arrowdown:before {
  content: "\e901";
}

.entitlement-root-container .icon-arrowup:before {
  content: "\e902";
}

.entitlement-root-container .icon-back:before {
  content: "\e903";
}

.entitlement-root-container .icon-chevrondown:before {
  content: "\e905";
}

.entitlement-root-container .icon-chevronleft:before {
  content: "\e906";
}

.entitlement-root-container .icon-chevronright:before {
  content: "\e907";
}

.entitlement-root-container .icon-chevronup:before {
  content: "\e908";
}

.entitlement-root-container .icon-close:before {
  content: "\e909";
}

.entitlement-root-container .icon-down:before {
  content: "\e90a";
}

.entitlement-root-container .icon-forward:before {
  content: "\e90b";
}

.entitlement-root-container .icon-info_alt:before {
  content: "\e90c";
}

.entitlement-root-container .icon-info:before {
  content: "\e90d";
}

.entitlement-root-container .icon-left:before {
  content: "\e90e";
}

.entitlement-root-container .icon-new_campaign:before {
  content: "\e90f";
}

.entitlement-root-container .icon-new_custom12:before {
  content: "\e910";
}

.entitlement-root-container .icon-new_window:before {
  content: "\e911";
}

.entitlement-root-container .icon-question_mark:before {
  content: "\e912";
}

.entitlement-root-container .icon-question_post_action:before {
  content: "\e913";
}

.entitlement-root-container .icon-question:before {
  content: "\e914";
}

.entitlement-root-container .icon-remove:before {
  content: "\e915";
}

.entitlement-root-container .icon-right:before {
  content: "\e916";
}

.entitlement-root-container .icon-routing_offline:before {
  content: "\e917";
}

.entitlement-root-container .icon-settings:before {
  content: "\e918";
}

.entitlement-root-container .icon-success:before {
  content: "\e919";
}

.entitlement-root-container .icon-up:before {
  content: "\e91a";
}

.entitlement-root-container .icon-warning:before {
  content: "\e91b";
}