@mixin font-face-setup($fontFile, $fontStyleSetup, $fontWeightSetup) {
	font-family: 'Salesforce Sans';
	src: url("../fonts/#{$fontFile}.woff2") format("woff2"), url("../fonts/#{$fontFile}.woff") format("woff");
	font-style: $fontStyleSetup;
	font-weight: $fontWeightSetup;	
}
@font-face {
	@include font-face-setup(SalesforceSans-Thin, normal, 200);
}
@font-face {
	@include font-face-setup(SalesforceSans-ThinItalic, italic, 200);
}
@font-face {
	@include font-face-setup(SalesforceSans-Light, normal, 300);
}
@font-face {
	@include font-face-setup(SalesforceSans-LightItalic, italic, 300);
}
@font-face {
	@include font-face-setup(SalesforceSans-Regular, normal, 400);
}
@font-face {
	@include font-face-setup(SalesforceSans-Italic, italic, 400);
}
@font-face {
	@include font-face-setup(SalesforceSans-Bold, normal, 700);
}
@font-face {
	@include font-face-setup(SalesforceSans-BoldItalic, italic, 700);
}

@mixin ellipsis($width) {
    width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@font-face {
    font-family: 'lightning-icon';
    src:  url('../fonts/iconfonts/lightning-icon.eot?lhtlpl');
    src:  url('../fonts/iconfonts/lightning-icon.eot?lhtlpl#iefix') format('embedded-opentype'),
        url('../fonts/iconfonts/lightning-icon.ttf?lhtlpl') format('truetype'),
        url('../fonts/iconfonts/lightning-icon.woff?lhtlpl') format('woff'),
        url('../fonts/iconfonts/lightning-icon.svg?lhtlpl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'lightning-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.entitlement-root-container {
    font-family: "Salesforce Sans", arial, sans-serif !important;
    .svmx-tab-bar {
        .svmx-tab-bar-strip {
            border-left: none;
            border-right: none;
            border-top: 1px solid #dddbda;
            background: transparent;
            position: relative;
            top: 0;
        }
        .svmx-panel-body {
            border-left: none;
            border-right: none;
            border-top: 1px solid #dddbda;
            background: transparent;
        }
        .svmx-tab {
            border: none;
            height: 40px;
            padding: 8px 12px;
            border-bottom: none !important;
            .svmx-tab-inner {
                color: #3E3E3C;
                font-family: "Salesforce Sans", arial, sans-serif;
                font-size: 13px;
            }
            &:hover {
                &:after {
                    display: block;
                    content: "";
                    bottom: 0;
                    left: 0;
                    right: 0;
                    position: absolute;
                    height: .125rem;
                    background-color: #007add;
                }    
            }
        }
        .svmx-tab-active {
            background: transparent;
            font-weight: 700;
            font-size: 13px;
            color: #080707;
            .svmx-tab-inner {
                color: #080707;
                font-family: "Salesforce Sans", arial, sans-serif;
                font-size: 13px;
                font-weight: 700;
            }
            &:after {
                display: block;
                content: "";
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                position: absolute;
                height: .1875rem;
                background-color: #1589ee;
    
            }
        }


    }
    .svmx-btn {
        border-radius: .25rem;
        line-height: 1.875rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        border: 1px solid #dddbda;
        background-color: #fff;
        border-color: #0070d2;
        .svmx-btn-inner {
            color: #0070d2;
            font-weight: 400;
            font-family: "Salesforce Sans", arial, sans-serif;
        }
        &.svmx-btn-over {
            background-color: #f4f6f9;
        }
        &.svmx-btn-focus {
            outline: 0;
            box-shadow: 0 0 3px #0070d2;
            background-color: #f4f6f9;            
        }
        &.svmx-btn-disabled {
            border-color: #dddbda !important;
            color: #dddbda;
            background-color: #fff;
            .svmx-btn-inner {
                color: #dddbda;
            }
        }
        &.svmx-btn-icon {
            border: none;
            background: transparent;
            box-shadow: none;
            padding: 4px;
            a {
                width: 24px;
                height: 24px;
            }
            .svmx-ent-help-icon {
                background-color: #54698d;
                border-radius: 50%;
                height: 24px;
                width: 24px;
                &:before {
                    content: "\e912";
                    font-family: 'lightning-icon';
                    font-size: 14px;
                    line-height: 24px;
                    color: #ffffff;
                }
            }
        }
    }
    .svmx-form-item {
        .svmx-form-item-body {
            @include ellipsis(100%);
        }
    }
    .svmx-form-item-label {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        display: inline-block;
        color: #3e3e3c;
        font-size: .75rem;
        padding-right: .5rem;
        padding-top: .25rem;
        margin-bottom: .125rem;
        font-family: "Salesforce Sans", arial, sans-serif !important;
    }
    textarea {
        &.svmx-form-text {
            background-color: #fff;
            border: 1px solid #dddbda;
            border-radius: .25rem;
            transition: border .1s linear,background-color .1s linear;
            -webkit-appearance: none;
            resize: vertical;
            padding: .5rem .75rem;
            margin: 2px;
            width: calc(100% - 4px) !important;
        }
        &.svmx-form-focus {
            outline: 0;
            border-color: #1589ee;
            background-color: #fff;
            box-shadow: 0 0 3px #0070d2;
        }
    }
    .svmx-grid-radioheader {
        width: 16px;
        height: 16px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: 1px solid #dddbda;
        border-radius: 50%;
        background: #fff;
        transition: border .1s linear,
        background-color .1s linear;
        &-selected:after {
            width: 8px;
            height: 8px;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            border-radius: 50%;
            background: #0070d2;

        }
    }
    .svmx-form-radio {
        width: 16px;
        height: 16px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: 1px solid #dddbda;
        border-radius: 50%;
        background: #fff;
        transition: border .1s linear,
        background-color .1s linear;
        &.svmx-form-cb-focus {
            border-color: #1589ee;
            box-shadow: 0 0 3px #0070d2;
        }
    }
    .svmx-form-radio-group {
        .svmx-form-cb-checked {
            .svmx-form-item-body {
                &:before {
                    width: 8px;
                    height: 8px;
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 8px;
                    transform: translate3d(-50%,-50%,0);
                    border-radius: 50%;
                    background: #0070d2; 
                    z-index: 1;
                    pointer-events: none;  
                }
            }
        }
    }
    .svmx-form-checkbox {
        user-select: text;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: 1px solid #dddbda;
        border-radius: .125rem;
        background: #fff;
        transition: border .1s linear,background-color .1s linear;
        &.svmx-form-cb-focus {
            border-color: #1589ee;
            box-shadow: 0 0 3px #0070d2;
        }
    }
    .svmx-form-check-group {
        .svmx-form-cb-checked {
            .svmx-form-cb-wrap {
                &:before {
                    display: block;
                    content: "";
                    height: 4px;
                    width: 8px;
                    position: absolute;
                    top: 50%;
                    left: 8px;
                    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
                    border-bottom: 2px solid #0070d2;
                    border-left: 2px solid #0070d2;
                    z-index: 1;
                    box-sizing: border-box;
                    pointer-events: none;
                }
            }
        }
    }
    .svmx-panel-body {
        border-color: transparent;
        .svmx-ent-headerToolBar {
            padding: 15px;
            border-bottom: 1px solid #dddbda;
            border-radius: 4px;
            background: #F3F2F2;
            background-clip: padding-box;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
            border: 1px solid #dddbda;
            .svmx-ent-title {
                font-family: "Salesforce Sans", arial, sans-serif;
                line-height: 1.5;
                color: #080707;
                font-size: 13px;
                font-weight: 400;               
            }
            .svmx-ent-WOName {
                font-size: 18px;
                font-weight: 700;
                line-height: 1.5;
                color: #080707;
                font-family: "Salesforce Sans", arial, sans-serif;
            }
            .svmx-ent-WOAccount, .svmx-ent-WOContact {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                color: #080707;
                font-family: "Salesforce Sans", arial, sans-serif;
            }
            .svmx-panel-body {
                background: #F3F2F2;
                .svmx-box-inner {
                    width: 100% !important;
                    &>div {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .svmx-grid {
        border-collapse: separate;
        border-top: 1px solid #dddbda;
        .svmx-grid-header-ct {
            background: transparent;
        }
        .svmx-column-header {
            background-color: #fafaf9;
            border-right-width: 0px !important;
            .svmx-column-header-inner {
                border-right-width: 0px;
            }
            .svmx-column-header-over {
                background: transparent;
                box-shadow: inset -0.25rem 0 0 #dddbda;
            }
            .svmx-column-header-trigger {
                background: transparent;
                right: 5px;
                &:before {
                    content: "\e90a";
                    font-family: 'lightning-icon';
                    font-size: 12px;
                    line-height: 30px;
                    color: #0070d2;                    
                }
            }
        }
        .svmx-column-header-text {
            color: #514F4D;
            font-family: "Salesforce Sans", arial, sans-serif;
            font-size: 13px;
            font-weight: 700;
            @include ellipsis(100%);
        }
        .svmx-grid-row {
            .svmx-grid-cell {
                border-right-width: 0px !important;
                border-bottom: 1px solid #dddbda;
                .svmx-grid-cell-inner {
                    font-family: "Salesforce Sans", arial, sans-serif;
                    color: #080707;
                    line-height: 1.5;
                    font-size: 13px;
                    padding: 5px;
                    a {
                        font-family: "Salesforce Sans", arial, sans-serif;
                        color: #006dcc;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .svmx-grid-row-selected {
            .svmx-grid-cell {
                background-color: #ecebea !important;
            }
        }
    }
    .svmx-toolbar {
        background: transparent;
        border: transparent;
    }
    &.svmx-window {
        font-family: "Salesforce Sans", arial, sans-serif;
        padding: 0;
        overflow: visible;
        background-color: #ffffff;
        .svmx-window-header {
            overflow: visible;
            background: #ffffff;
            border: none;
            padding: 1rem;
            border-bottom: 2px solid #dddbda !important;
            border-radius: 4px 4px 0 0;
            &>div, .svmx-box-inner  {
                overflow: visible;
            }
            .svmx-window-header-text {
                color: #3e3e3c;
                font-weight: 300;
                font-size: 18px;
                line-height: 1.25;
                text-align: center;
                font-family: "Salesforce Sans", arial, sans-serif;
            }
            .svmx-tool.svmx-box-item {
                position: absolute;
                top: -40px !important;
                height: 24px !important;
                width: 24px !important;
                &:before {
                    content: "\e909";
                    font-family: 'lightning-icon';
                    font-size: 24px;
                    line-height: 24px;
                    color: #ffffff;
                }
                img {
                    width: 24px;
                    height: 24px;
                    background: transparent;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        .svmx-window-body {
            border-radius: 0 0 4px 4px;
            & > .svmx-toolbar {
                width: calc(100% + 4px) !important;
                border-width: 2px 0 0 0 !important;
                background: #fafaf9;
                border-top: 2px solid #dddbda;
                border-radius: 0 0 4px 4px;
                padding: 12px 16px;
                z-index: 1;
            }
        }
    }
    .svmx-mask {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.75);
    }
    //SOF. Icons
    .icon-approval:before {
        content: "\e900";
    }
    .icon-arrowdown:before {
        content: "\e901";
    }
    .icon-arrowup:before {
        content: "\e902";
    }
    .icon-back:before {
        content: "\e903";
    }
    .icon-chevrondown:before {
        content: "\e905";
    }
    .icon-chevronleft:before {
        content: "\e906";
    }
    .icon-chevronright:before {
        content: "\e907";
    }
    .icon-chevronup:before {
        content: "\e908";
    }
    .icon-close:before {
        content: "\e909";
    }
    .icon-down:before {
        content: "\e90a";
    }
    .icon-forward:before {
        content: "\e90b";
    }
    .icon-info_alt:before {
        content: "\e90c";
    }
    .icon-info:before {
        content: "\e90d";
    }
    .icon-left:before {
        content: "\e90e";
    }
    .icon-new_campaign:before {
        content: "\e90f";
    }
    .icon-new_custom12:before {
        content: "\e910";
    }
    .icon-new_window:before {
        content: "\e911";
    }
    .icon-question_mark:before {
        content: "\e912";
    }
    .icon-question_post_action:before {
        content: "\e913";
    }
    .icon-question:before {
        content: "\e914";
    }
    .icon-remove:before {
        content: "\e915";
    }
    .icon-right:before {
        content: "\e916";
    }
    .icon-routing_offline:before {
        content: "\e917";
    }
    .icon-settings:before {
        content: "\e918";
    }
    .icon-success:before {
        content: "\e919";
    }
    .icon-up:before {
        content: "\e91a";
    }
    .icon-warning:before {
        content: "\e91b";
    }
    //EOF. Icons
}