.THIS.c-container {
    border: 1px solid #d8dde6;
    /*margin: 10px 0 20px 0;*/
    background-color: white;
}
.THIS .page-section {
    padding: 1rem; 
}
.THIS .page-header {
    height: 120px;
    background-color: #3e7ebe !important;
}
.THIS .header1{
    font-size: 40px;
    color : white;
}
.THIS .header2{
   font-size: 20px;
   color : white; 
}
.THIS .subheader{
    font-size: 20px;
    color: orange;
}

.THIS .ColorBlue{
    background-color : #3e7ebe !important;
}
.THIS .ColorBlue:active,
.THIS .ColorBlue:hover {
    background-color: #328ED1 !important;
}