.main-product-catalog__product-blocks .main-product-catalog__product-block ul li:nth-child(n+11) {
	display: none;
}

.main-cart-totals-container{
	display: none;
}

button[ng-click='cartHeader.openIncentives()']{ 
	display: none; 
} 

button[ng-click='displayAction.openIncentives()']{ 
	display: none; 
} 

/*
button[ng-click='lineItemGrid.createNewView()']{ 
	display: none; 
} 


md-menu-content.md-dense md-menu-item:last-child {
display:none !important;
}
*/
.ui-grid-header-canvas {height: 52px !important;}



body textarea, .slds-vf-scope textarea {
    border: 1px solid rgb(221, 219, 218);
    max-width: 100%;
    border-radius: .25rem;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 7, 7);
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: block;
    text-align:center;
    padding:inherit;	
    resize: vertical;
}
img {
    border: 0;
    vertical-align: middle;
}
.mini-cart__actions__finalize{

    display: none; 
}
.view-menu {
    
    width: 20rem;
}
#view-menuContent {
    min-width: 19.75rem;
}
.ui-grid-cell-contents{
    text-align: center;
    }