.wrapped-header-datatable .slds-table .slds-th__action .slds-truncate{
    max-width: 100%;
    overflow: hidden;
    text-overflow: unset;
    white-space: pre-line;
    text-align: center;
    /* word-wrap: break-word;*/

}
.wrapped-header-datatable th .slds-th__action {
    justify-content: center;
    display: flex;
}

.wrapped-header-datatable th .slds-truncate {
    text-align: center;
    width: 100%;
}

.wrapped-header-datatable .slds-table .slds-th__action {
    height: 3rem !important;
    border-bottom: 1px solid rgb(206 206 206);
}

.wrapped-header-datatable .slds-table .slds-line-height_reset .slds-cell-fixed{
    height: 1rem;
}
.wrapped-header-datatable .slds-cell-fixed{
    min-height: 3rem;
    background-color: lightgrey;
}

.wrapped-header-datatable .slds-table_header-fixed{
    margin-top: 1rem;
}

.wrapped-header-datatable .slds-scrollable_x{
    max-width: 100%;
    overflow: hidden;
}