a:hover {
  text-decoration: none !important;
}
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *+height: 1%;
}

.page-zj {
  text-align: initial !important;
}
.dd-ms {
  background: #fff;
  padding: 20px 15px 15px !important;
  margin-bottom: 0px !important;
}
.dd-tb {
  width: 56px;
  height: 56px;
  margin-right: 10px;
}
.dd-ms h3 {
  font-size: 30px;
  line-height: 30px;
}

.ddzt {
  width: 100%;
  padding: 0 15px 20px;
  background: #fff;
  box-sizing: border-box;
}
.xlh {
  width: 100%;
}
.xlh-item {
  border-left: 2px solid #d8d8d8;
  float: left;
  width: 50%;
  height: 40px;
  padding-left: 7px;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}
.xlh-item h5,
.fwxq h5 {
  color: #b0b0b0;
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
.xlh-item p {
  color: #191919;
  font-size: 15px;
  line-height: 18px;
  height: 18px;
  font-weight: 500;
}

.fwxq {
  margin-top: 20px;
  width: 100%;
  height: auto;
  padding-left: 7px;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}
.fwxq span {
  width: 2px;
  height: 40px;
  background: #d8d8d8;
  position: absolute;
  left: 0px;
  top: 0px;
}
.fwxq-nr {
  color: #191919;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}
.fwxq-more {
  width: 70px;
  height: 20px;
  line-height: 20px;
  color: #191919;
  background: #f5f5f5;
  font-size: 11px;
  text-align: center;
  border-radius: 30px;
  margin-top: 5px;
}
.zjsx {
  margin-bottom: 20px;
  background: #fff;
  height: 45px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 40px 0 15px;
  box-sizing: border-box;
  line-height: 44px;
  position: relative;
}
.zjsx span {
  line-height: 44px;
  font-size: 14px;
  color: #b0b0b0;
}
.zjsx em {
  line-height: 44px;
  font-size: 13px;
  font-style: normal;
  color: #000;
}
.zjsx img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.hf-cont {
  width: 100%;
  height: auto;
}
.hf-item {
  background: #fff;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.hf-tb {
  width: 100%;
  padding: 13px 20px 0 55px;
  position: relative;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
}
.hf-tb img {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 15px;
  top: 10px;
  border-radius: 90px;
}
.hf-tb em {
  position: absolute;
  right: 15px;
  top: 12.5px;
  width: 30px;
  height: 30px;
  background: url(../images/new.png) no-repeat;
}
.hf-tb h4 {
  font-size: 16px;
  color: #000;
  line-height: 18px;
  height: 18px;
  margin-bottom: 5px;
}
.hf-tb p {
  font-size: 12px;
  color: #999;
  line-height: 13px;
  height: 13px;
}

.hf-nr {
  width: 100%;
  padding: 15px 0px 0 55px;
  box-sizing: border-box;
  position: relative;
}
.hf-new-txt {
  color: #191919;
  font-size: 14px;
  line-height: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.hf-nr-txt {
  color: #191919;
  font-size: 14px;
  line-height: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
}
.fwxq-more {
  width: 70px;
  height: 20px;
  line-height: 20px;
  color: #191919;
  background: #f5f5f5;
  font-size: 11px;
  text-align: center;
  border-radius: 30px;
  margin-top: 5px;
}

.hf-item-new .hf-nr-wj {
  margin-top: 0px !important;
  border-top: 0px solid #ddd;
}
.hf-new-txt h3 {
  width: 60px;
  height: 1px;
  border-bottom: 1px dashed #000;
  margin: 5px 0px 8px;
}

.hf-nr-wj {
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid #e0e0e0;
  min-height: 45px;
  padding: 10px 70px 10px 0;
  box-sizing: border-box;
  position: relative;
}
.hf-nr-wj-txt {
  width: 100%;
}
.hf-nr-wj-txt span {
  display: block;
  color: #0077c8;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.hf-nr-wj-txt span img {
  margin-right: 4px;
  vertical-align: middle;
  display: inline-block;
}
.hf-btn {
  position: absolute;
  right: 15px;
  bottom: 0px;
  height: 45px;
  line-height: 45px;
  color: #0077c8;
  font-size: 14px;
  text-align: right;
}
.hf-btn img {
  display: inline-block;
  vertical-align: middle;
  margin-right: -2px;
  margin-bottom: 2px;
}

.hf-box {
  width: 100%;
  min-height: 60px;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  padding: 12px 62px 12px 15px;
  box-sizing: border-box;
}
.hf-box-nr {
  width: 100%;
}
.hf-sc {
  width: 62px;
  min-height: 60px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-align: center;
  background: url(../images/wjtb.png) no-repeat center center;
  background-size: 24px 24px;
}
.hf-sc input {
  opacity: 0;
  min-height: 60px;
  width: 100%;
}
.hf-box-xq {
  width: 100%;
  height: 36px;
  background: #f5f5f5;
  border-radius: 90px;
  padding: 0 10px 0 39px;
  box-sizing: border-box;
  position: relative;
}
.hf-box-xq img {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 8px;
  top: 5px;
  border-radius: 90px;
}
.hf-box-xq input {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  color: #333;
  border: none;
  background: none;
}
.zwnr {
  width: 100%;
  height: 60px;
}

.wj-box {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 102;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  bottom: 0px;
  left: 0px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.wj-box-btn {
  width: 100%;
  height: 25px;
}
.wj-box-btn span {
  width: 90px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
  color: #0077c8;
  position: relative;
  display: inline-block;
  background: #f2f2f2;
  border-radius: 90px;
}
.wj-box-btn span input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 25px;
  opacity: 0;
}
.wj-box-btn em {
  font-style: initial;
  line-height: 25px;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 13px;
  color: #000;
}
.wj-nr {
  margin-top: 8px;
  width: 100%;
  padding-right: 75px;
  box-sizing: border-box;
  position: relative;
  height: 90px;
}
.wj-nr textarea {
  resize: none;
  border: none;
  width: 100%;
  height: 90px;
  padding: 10px;
  box-sizing: border-box;
  background: #f2f2f2;
  font-size: 13px;
  color: #999;
  line-height: 18px;
  border-radius: 10px;
}
.wj-send {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 30px;
  width: 65px;
  background: #0077c8;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  border-radius: 30px;
  display: block;
}
