body {
    background-color: rgb(239, 238, 244);
    -webkit-text-size-adjust: none !important;
}

.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(239, 238, 244);
}

.banner {
    max-width: 750px;
    width: 100%;
}

.banner-pic {
    width: 100%;
}

.banner-title {
    padding: 15px;
    padding-bottom: 0;
    font-size: 20px;
    color: #000;
    word-wrap: break-word;
}

.page-notify {
    opacity: 0;
    font-size: 24pt;
    color: #43BCA0;
    font-family: PingFangSC-Medium;
    margin: 15px 0px;
}

.slds-has-error {
    color: #fa5151;
}

.requiredMark {
    color: red;
    margin-left: 5px;
}

.label {
    font-size: 18px;
    color: #878787;
    font-family: PingFangSC-Medium;
    padding: 0;
    margin: 4px;
}

.value {
    font-size: 60pt;
    margin: 0;
    color: #3B434B;
    font-family: PingFangSC-Medium;
}

section {
    text-align: center;
}

.footer {
    width: 100%;
    text-align: center;
    height: 106px;
}

.webContent {
    margin:100px auto;
    width:60%;
    height:auto;
    text-align:center;
}

.qrCodeImage {
    width:220px;
    height:220px;
}

.wechatLogo {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    margin-top: 27px;
    margin-bottom: 27px;
}

.sectionTitle {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    color: #777777;
}

.caseDetailsTitle {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    margin: 10px 15px 5px;
    color: #000000;
    float: left;
}

.newCaseButton {
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 16px 0px 15px;
    color: #000000;
    float: right;
}

.clearboth {
    clear: both;
}

.weui-label {
    width: 170px;
}

.caseHeader {
    padding-top: 16px;
}

.caseTitleLabel {
    width: 120px; //font-weight: bold;
}

.caseitemLabel {
    width: 120px;
    color: #696969;
}

.emailVeriyButton {
    width: 90px;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    background: rgb(239, 238, 244);
    margin: 0;
    padding: 2;
    font-size: 14px;
    font-family: PingFangSC-Medium;
    color: #0077c8;
    border: 0;

}

.caseItem:before {
    border: none;
}

.caseItemTop {
    padding-top: 20px;
    font-size: 15px;
}

.caseItem {
    padding-top: 5px;
    font-size: 15px;
}

.caseItemBottom {
    padding-bottom: 20px;
    font-size: 15px;
}

.VerifiedCaseDetails {
    color: #7F7F7F;
    margin-top: 5px;
}

.CaseDetails {
    margin-bottom: 30px;
}

#subject {
    width: 150px;
}

.label {
    position: relative;
    display: none;
}

.checkbox {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    pointer-events: auto;
}

.checkbox_faux {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid #dddbda;
    border-radius: 0.125rem;
    background: white;
    transition: border 0.1s linear, background-color 0.1s linear;
}

.checkbox_faux::after {
    height: 2px;
    background: #1589ee;
    border: 0;
    transform: translate3d(-50%, -50%, 0);
    content: '';
    position: absolute;
    width: .5rem;
    top: 50%;
    left: 50%;
}

.fileLimit {
    margin-left:15px;
    color: #777777;
    font-size:10px;
}

.submitButton {
    margin:25px auto;
    background:#0077c8;
}

.privacyBoxTitle {
    width:100%;
    margin-top:10px;
    margin-bottom:15px;
    border-bottom:2px solid rgb(239, 238, 244);
}

.privacyBoxContent {
    color:#000;
    font-size:14px;
    text-align:left;
}

.privacyBoxButton {
    width:100%;
    padding-top:10px;
    margin:10px auto;
    text-align:center;
    border-top:2px solid rgb(239, 238, 244);
}

.privacyBoxButton input {
    margin-top:15px auto;
    width:50%;
    color:#FFF;
    height:36px;
    font-size:14px;
    background:#0077c8;
}

.web-limit1 {
    font-size: 16px;
    color: #000;
}

.web-limit2 {
    font-size: 14px;
    color: #989898;
}

.waiting-box {
    display: none;
}

.mask-box {
    display: none;
}

.result-notify{
    width: 100%;
}

.history-new-case{
    font-size:17px;
}

.history-list{
    margin-top:10px;
}