.dataTables_wrapper {
	position: relative;	
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_length {
	width: 100%;
	padding:5px;
	float: left;
	background: #ffa359; /* Old browsers */
	background: -moz-linear-gradient(top, #ffa359 0%, #ffbf7f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa359), color-stop(100%,#ffbf7f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa359 0%,#ffbf7f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa359 0%,#ffbf7f 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffa359 0%,#ffbf7f 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa359', endColorstr='#ffbf7f',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffa359 0%,#ffbf7f 100%); /* W3C */
	border:1px solid #597D87; 
	-moz-border-radius:5px 5px 0 0; 
	-webkit-border-radius:5px 5px 0 0; 
	border-radius:5px 5px 0 0;
	border-bottom:none;
}

.dataTables_length select{
	font-size:11px;
}

.dataTables_filter {	
	float: right;
	margin: -23px 5px 0 0;
	z-index:11;
}

.dataTables_info {
	float: left;
	padding:5px;
	width:100%;
	background: #ffbf7f; /* Old browsers */
	background: -moz-linear-gradient(top, #ffbf7f 0%, #ffa359 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbf7f), color-stop(100%,#ffa359)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffbf7f 0%,#ffa359 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffbf7f 0%,#ffa359 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffbf7f 0%,#ffa359 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf7f', endColorstr='#ffa359',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffbf7f 0%,#ffa359 100%); /* W3C */
	border:1px solid #597D87; 
	-moz-border-radius:0 0 5px 5px; 
	-webkit-border-radius:0 0 5px 5px; 
	border-radius:0 0 5px 5px;
	border-top:none;
}

.dataTables_paginate {
	float: right;
	text-align: right;
	position:absolute;
	right:6px;
	bottom:-19px;
}

.paging_full_numbers span.paginate_active {
    color: #F76207;
	padding: 2px 3px;
	font-weight:bold;
}

.paging_full_numbers span.paginate_button{
    cursor: pointer;
    padding: 2px 3px;
}

.sorting_asc {
	background: #18d5fe ; /* Old browsers */
	background: -moz-linear-gradient(top, #18d5fe 0%, #28c2e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18d5fe), color-stop(100%,#28c2e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18d5fe', endColorstr='#28c2e4',GradientType=0); /* IE6-9 */
	background: linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* W3C */
	padding-right:16px !important;
}

.sorting_desc {
	background: #18d5fe ; /* Old browsers */
	background: -moz-linear-gradient(top, #18d5fe 0%, #28c2e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18d5fe), color-stop(100%,#28c2e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18d5fe', endColorstr='#28c2e4',GradientType=0); /* IE6-9 */
	background: linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* W3C */
	padding-right:16px !important;
}

.sorting {
	background: #18d5fe; /* Old browsers */
	background: -moz-linear-gradient(top, #18d5fe 0%, #28c2e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18d5fe), color-stop(100%,#28c2e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18d5fe', endColorstr='#28c2e4',GradientType=0); /* IE6-9 */
	background: linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* W3C */
	padding-right:16px !important;	
}

.sorting_disabled{
	background: #18d5fe; /* Old browsers */
	background: -moz-linear-gradient(top, #18d5fe 0%, #28c2e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18d5fe), color-stop(100%,#28c2e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18d5fe', endColorstr='#28c2e4',GradientType=0); /* IE6-9 */
	background: linear-gradient(top, #18d5fe 0%,#28c2e4 100%); /* W3C */
	padding-right:16px !important;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

tr.odd {
	background-color: white;
}

tr.even {
	background-color: #dcf4fa;
}
.dataTables_scrollBody {
	*margin-top: -1px;
}

.dataTables_empty{
	text-align:center !important;
	color:#F76207 !important;
}