.dataTables_wrapper {
	position: relative;	
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
	z-index:1;
}

.dataTables_length {
	width: 100%;
	float: left;
	/*background: #f2f3f3;
	border-left:1px solid #cccccc; 
	border-right:1px solid #cccccc; */
	padding:5px 0 !important;
}

.dataTables_length select {
	font-size:11px;
}

.dataTables_filter {	
	float: right;
	position:absolute;
	right:1%;
	top:5px;
	z-index:11;
}

.dataTables_filter label input {	
	border:1px solid #597D87;
	padding:1px 3px; 
	font-size:11px;
}

.dataTables_info {
	float: left;
	padding:5px !important;
	width:100%;
	background: #f2f3f3;
	border:1px solid #cccccc;
	border-top:none;
}

.dataTables_length select {
    border: 1px solid #597D87;
}

.dataTables_paginate {
	float: right;
	text-align: right;
	position:absolute;
	right:6px;
	bottom:-19px;
}

.paging_full_numbers span.paginate_active {
	padding: 2px 3px;
	font-weight:bold;
}

.paging_full_numbers span.paginate_button {
    cursor: pointer;
    padding: 2px 3px;
}

.sorting_asc {	
	background: #f2f3f3 url(sort_asc.png) no-repeat center right !important;
	padding-right:16px !important;
	cursor:pointer;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.sorting_desc {
	background: #f2f3f3 url(sort_desc.png) no-repeat center right !important;
	padding-right:16px !important;
	cursor:pointer;
	padding-top: 8px !important;
	padding-bottom: 8px !important;	
}

.sorting {
	background: #f2f3f3 url(sort_both.png) no-repeat center right !important;
	padding-right:16px !important;
	cursor:pointer;	
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.sorting_disabled {
	background: #f2f3f3;
	color:#000;
	padding-right:16px !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.sorting_asc_disabled {
	background: url(sort_asc_disabled.png) no-repeat center right !important;
}

.sorting_desc_disabled {
	background: url(sort_desc_disabled.png) no-repeat center right !important;
}

tr.odd {
	background-color: white;
}

tr.even {
	background-color: #fcfcfc;
}
.dataTables_scrollBody {
	*margin-top: -1px;
}

.dataTables_empty {
	text-align:center !important;
	color:#F76207 !important;
}