body {
    background-color: rgb(239, 238, 244);
    -webkit-text-size-adjust: none !important;
}

.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(239, 238, 244);
}

.banner {
    max-width: 750px;
    width: 100%;
}

.banner-pic {
    width: 100%;
}

.banner-title {
    padding: 15px;
    padding-bottom: 0;
    font-size: 20px;
    color: #000;
    word-wrap: break-word;
}

.required-mark {
    color: red;
    margin-left: 5px;
}

.label {
    font-size: 18px;
    color: #878787;
    padding: 0;
    margin: 4px;
    position: relative;
    display: none;
}

.value {
    font-size: 60pt;
    margin: 0;
    color: #3B434B;
}

section {
    text-align: center;
}

.footer {
    width: 100%;
    text-align: center;
    height: 106px;
}

.web-content {
    margin:100px auto;
    width:60%;
    height:auto;
    text-align:center;
}

.wechat-logo {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    margin-top: 27px;
    margin-bottom: 27px;
}

.loading-mask, .loading-toast, .form-submitted-notify{
    display:none;
}

.section-title {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    color: #777777;
}

.section-content {
    margin-top: 5px;
}

.weui-label {
    width: 170px;
}

.cell-warn {
    display: none;
}

.email-verify-button {
    width: 90px;
    height: 26px;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    background: rgb(239, 238, 244);
    margin: 0;
    padding: 2;
    font-size: 14px;
    color: #0077c8;
    border: 0;

}

.accept-btn {
    background:#0077c8 !important;
    cursor: pointer;
}

.submit {
    margin:25px auto;
    background:#0077c8 !important;
    width:80% !important;
    cursor: pointer;
}

.privacy-box-title {
    width:100%;
    margin-top:10px;
    margin-bottom:15px;
    border-bottom:2px solid rgb(239, 238, 244);
}

.privacy-box-content {
    color:#000;
    font-size:14px;
    text-align:left;
}

.privacy-box-button {
    width:100%;
    padding-top:10px;
    margin:10px auto;
    text-align:center;
    border-top:2px solid rgb(239, 238, 244);
}

.privacy-box-button input {
    margin-top:15px auto;
    width:50%;
    color:#FFF;
    height:36px;
    font-size:14px;
    background:#0077c8;
}

.web-limit {
    font-size: 16px;
    color: #000;
}

.mask-box {
    display: none;
}

.footer-btn {
    text-align:center;
}