.THIS select {
    border: 0px solid #111;
    background: transparent;
    width: auto;
    padding: 5px 35px 5px 5px;
    height: 32px;
    appearance: none;
}

.THIS .slds-select_container_align{ 
    margin-top : -22px;
    margin-left: -10px;
    display: block;
}
.THIS .slds-select_container::before { border-bottom: 0px !important;}
.THIS .slds-select_container::after { border-top: none;}
.THIS .slds-select_container .slds-select { -webkit-appearance : menuList}