.tableScroll {
    overflow: auto;
    overflow-y: hidden;
}
.textwrapper {
    /* Set the desired width */
    width: 100px; /* Adjust as needed */

    /* Allow text to wrap */
    word-wrap: break-word;
    white-space: normal;
}
.slds-table_fixed-layout tbody,
.slds-table--fixed-layout tbody {
    /* Remove the transform property */
    transform: none;
}