.backcolor
{
    background: white !important;
}

.backgroundcolor
{
    background-color: whitesmoke !important;
    height: auto;
}

.heightdiv
{
    max-height: 5rem;
    height : auto;
}
.heightcomponent
{
    max-height: 35rem;
    height : auto;
}

.errorMessage
{
    background-color: whitesmoke !important;
    color: red; 
    padding-left: 25px;
}

.backgroundcolourcard
{
    background-color: whitesmoke !important;
}

.no-wrap {
    white-space: normal;
}

.widthclass {
    width: 100% !important;
}